<template>
<div>
    <layout></layout>
    <section class="user-account">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <sidebar></sidebar>
                </div>
                <div class="col-lg-9">
                    <div class="video-details">
                        <div class="latest_vidz">
                            <div class="latest-vid-option">
                                <h2 class="hd-op"> Latest Videos</h2>
                                <a href="#" title="" class="op-1">Video Details</a>
                                <a href="#" title="" class="op-2"> Options</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="vidz_list">
                                <div class="tb-pr" v-for="video in videos" :key="video.id">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-9 col-md-9 col-sm-12">
                                            <div class="tab-history acct_page">
                                                <div class="videoo">
                                                    <div class="vid_thumbainl ms br">
                                                        <inertia-link :href="`customer/video/watch/${video.slug}`">
                                                            <img :src="video.thumbnail" alt="" style="max-height: 197px;">
                                                        </inertia-link>	
                                                    </div>
                                                    <div class="video_info ms br">
                                                        <h3>
                                                            <inertia-link :href="`customer/video/watch/${video.slug}`">
                                                                {{ video.title}}
                                                            </inertia-link>
                                                        </h3>
                                                        <!-- <h4>
                                                            <a href="Single_Channel_Home.html" title="">newfox media</a>
                                                            <span class="verify_ic">
                                                                <i class="icon-tick"></i>
                                                            </span>
                                                        </h4> -->
                                                        <span>{{ video.views_count}} views . {{ moment(video.created_at).fromNow() }}</span>
                                                        <!-- <ul>
                                                            <li><span class="br-1">Inactive</span></li>
                                                            <li><span class="br-2">Successful</span></li>
                                                        </ul> -->
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-3 col-sm-12">
                                            <div class="icon-list">
                                                <ul>
                                                   <!--  <li><a href="#" title=""><i class="icon-play"></i></a></li> -->
                                                    <li><a :href="`customer/video/${video.slug}`" title=""><i class="icon-pencil"></i></a></li>
                                                    <li>
                                                        <a @click="deleteVideo(video.id)" style="cursor: pointer;"><i class="icon-cancel"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="tb-pr">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-9 col-md-9 col-sm-12">
                                            <div class="tab-history acct_page">
                                                <div class="videoo">
                                                    <div class="vid_thumbainl ms br">
                                                        <a href="single_video_page.html" title="">
                                                            <img src="images/resources/vide2.png" alt="">
                                                            <span class="vid-time">30:32</span>
                                                            <span class="watch_later">
                                                                <i class="icon-watch_later_fill"></i>
                                                            </span>
                                                        </a>	
                                                    </div>
                                                    <div class="video_info ms br">
                                                        <h3><a href="single_video_page.html" title="">DR DISRESPECT - Before They Were Famous - Twitch Streamer</a></h3>
                                                        <h4><a href="Single_Channel_Home.html" title="">Eros Now</a></h4>
                                                        <span>283K views . 3 months ago</span>
                                                        <ul>
                                                            <li><span class="br-1">Inactive</span></li>
                                                            <li><span class="br-2">Successful</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-3 col-sm-12">
                                            <div class="icon-list">
                                                <ul>
                                                    <li><a href="#" title=""><i class="icon-play"></i></a></li>
                                                    <li><a href="#" title=""><i class="icon-pencil"></i></a></li>
                                                    <li><a href="#" title=""><i class="icon-cancel"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="tb-pr">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-9 col-md-9 col-sm-12">
                                            <div class="tab-history acct_page">
                                                <div class="videoo">
                                                    <div class="vid_thumbainl ms br">
                                                        <a href="single_video_page.html" title="">
                                                            <img src="images/resources/vide3.png" alt="">
                                                            <span class="vid-time">30:32</span>
                                                            <span class="watch_later">
                                                                <i class="icon-watch_later_fill"></i>
                                                            </span>
                                                        </a>	
                                                    </div>
                                                    <div class="video_info ms br">
                                                        <h3><a href="single_video_page.html" title="">Top Perectly Timed Twitch Moments 2017 #7</a></h3>
                                                        <h4><a href="Single_Channel_Home.html" title="">Animal Planet</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
                                                        <span>2.6M views . 2 months ago</span>
                                                        <ul>
                                                            <li><span class="br-3">Active</span></li>
                                                            <li><span class="br-2">Successful</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-3 col-sm-12">
                                            <div class="icon-list">
                                                <ul>
                                                    <li><a href="#" title=""><i class="icon-play"></i></a></li>
                                                    <li><a href="#" title=""><i class="icon-pencil"></i></a></li>
                                                    <li><a href="#" title=""><i class="icon-cancel"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer-page></footer-page>
</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import Sidebar from '@/Shared/Sidebar'
import FooterPage from '@/Shared/FooterPage.vue'
import moment from 'moment'
import swal from 'sweetalert'

export default {
    components: {
      Layout, Sidebar, FooterPage
    },
    props:{
        username: String,
        last_login_at: String,
        created_at: String,
        videos: Array,
    },

    data(){
        return{
            isLoading: false,
            fullPage: true,
        }
    },
    metaInfo() {
        return {
            title: 'SerbaWebinar',
            titleTemplate: `${this.username} | SerbaWebinar`,
            htmlAttrs: {
                lang: 'en',
                amp: undefined
            },
            bodyAttrs: {
              tabIndex: 0
            },
            meta: [
              { charset: 'utf-8' },
              { name: 'account', content: `${this.username}` },
              { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
            ]
        }
            
    },

    methods: {
        moment,
        deleteVideo(videoId){
            swal({
                title: "Are you sure?",
                text: "video will be deleted from the system!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                this.$inertia.delete(`/customer/video/${videoId}/delete`).then(() => {
                    this.$toasted.show("Successfully delete video", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        type : 'success',
                    });
                });
            })
        }
    },

    mounted() {
        // console.log(this.created_at)
        // console.log(this.videos)
    }
}
</script>
