<template>
<div>
    <layout></layout>
   	<section class="mn-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mn-vid-sc single_video">
                        <div class="vid-1">
                            <div class="vid-pr">
                                <img :src="banner_app[0].image" class="img-fluid">  
                            </div>

                            <div class="vid-info">
                                <h3>{{ banner_app[0].name }}</h3>
                                <div class="info-pr">
                                    <span>{{ banner_app[0].posted_at }}</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="abt-mk">
                            
                           <!--  <div class="about-ch-sec"> -->
                                <div class="abt-rw">
                                    <h4>Deskripsi : </h4>
                                    <p> {{ banner_app[0].description }} </p>
                                </div>
                                
                            <!-- </div> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer-page></footer-page>

</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FooterPage from '@/Shared/FooterPage.vue'
import moment from 'moment'
import carousel from 'vue-owl-carousel';

export default {
    components: {
      Layout, FooterPage, carousel
	},
	props: {
		banner: Object,
	},
	data() {
		return {
            banner_app : this.banner.data
		}
	},
    metaInfo() {
        return {
            title: 'SerbaWebinar',
            titleTemplate: `${this.banner_app[0].name} | SerbaWebinar`,
            htmlAttrs: {
                lang: 'en',
                amp: undefined
            },
            bodyAttrs: {
              tabIndex: 0
            },
            meta: [
              { charset: 'utf-8' },
              { name: 'banner', content: `${this.banner_app[0].name}` },
              { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
            ]
        }
            
    },
    mounted() {

        // console.log(this.banner_app)
	},
	methods: {
        moment,
    },
}
</script>

<style scoped>
	.vid-pr {
		height: auto;
		width: 100%;
	}

	.abt-mk {
		width: 100%;
    	padding: 29px 0 8px;
    	border-bottom: 0px;
	}

    .img-fluid {
        object-fit: scale-down;
        object-position: center;
    }

</style>