<template>
<div>
    <layout></layout>
    <loading :active.sync="isLoading" 
        :can-cancel="true" 
        :on-cancel="onCancel"
        :is-full-page="fullPage"
        loader="bars"
        background-color="rgb(75,75,75)"
        color="rgb(0,171,0)"></loading>
    <section class="user-account">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <sidebar></sidebar>
                </div>
                <div class="col-lg-9">
                    <div class="video-details">
                        <div class="change-pswd">
                            <h2 class="hd-op">Change password</h2>
                            <form>
                                <div class="ch-pswd">
                                    <input type="password" name="old_password" placeholder="Old Password" v-model="current_password">
                                </div><!--ch-pswd end-->
                                <div class="ch-pswd">
                                    <input type="password" name="new_password" placeholder=" New Password" v-model="password">
                                </div><!--ch-pswd end-->
                                <div class="ch-pswd">
                                    <input type="password" name="confirm_password" placeholder="Confirm New Password" v-model="rePassword">
                                </div><!--ch-pswd end-->
                                <div class="ch-pswd">
                                    <button type="button" @click="changePassword()"> Update</button>
                                </div><!--ch-pswd end-->
                            </form>
                        </div><!--change-pswd end-->
                    </div>
                </div>
            </div>
        </div>
    </section><!--user-account end-->
    <footer-page></footer-page>
</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import Sidebar from '@/Shared/Sidebar'
import FooterPage from '@/Shared/FooterPage.vue'

import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    components: {
      Layout, Sidebar, Loading, FooterPage
    },
    mounted() {
    },
    data() {
		return {
            current_password: '',
            password: '',
            rePassword: '',
            isLoading: false,
            fullPage: true,
		}
    },
    metaInfo() {
        return {
            title: 'SerbaWebinar',
            titleTemplate: `Change Password | SerbaWebinar`,
            htmlAttrs: {
                lang: 'en',
                amp: undefined
            },
            bodyAttrs: {
              tabIndex: 0
            },
            meta: [
              { charset: 'utf-8' },
              { name: 'change password', content: 'SerbaWebinar' },
              { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
            ]
        }
            
    },
    methods: {
        onCancel() {
            console.log('User cancelled the loader.')
        },
        reset(){
            this.current_password = ''
            this.password = ''
            this.rePassword = ''
        },
        changePassword(){
            this.isLoading = true;

            axios.post(`/customer/password`, {
                'current_password': this.current_password,
                'password': this.password,
                'password_confirmation': this.rePassword,
            }).then(res => {
                setTimeout(() => {
                    this.isLoading = false
                    this.reset()
                    this.$toasted.show("Successfully change password", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        type : 'success',
                    });
                },1500)
            }).catch(err => {
                console.log(err.response);
                this.isLoading = false
                this.$toasted.show(err.response.data.message ? err.response.data.message : err.response.data, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
            })
        }
    }
}
</script>
