<template>
<div>
    <layout></layout>

	<loading :active.sync="isLoading" 
        :can-cancel="true" 
        :on-cancel="onCancel"
        :is-full-page="fullPage"
        loader="bars"
        background-color="rgb(75,75,75)"
        color="rgb(0,171,0)"></loading>
    
    <section class="channel-cover">
		<img :src="channelDetail.cover" alt="">
	</section><!--channel-cover end-->

	<section class="videso_section">
		<div class="info-pr-sec">
			<div class="container">
				<div class="vcp_inf cr">
					<span class="vc_hd">
						<img :src="channelDetail.avatar_user" alt="">
					</span>
					<div class="vc_info pr">
						<h4>{{channelDetail.name}} <span class="verify_ic"><i class="icon-tick"></i></span></h4>
						<span>{{channelDetail.countFollowers}} subscribers</span>
					</div>
				</div><!--vcp_inf end-->
				<ul class="chan_cantrz">
					<li>
                        <a @click="Subscribe(channelDetail.id)" title="" v-if="isSubscribe" class="subscribe" style="cursor:pointer;background: red !important;">Unsubscribe <strong>{{this.countSubscribe}}</strong></a>
                        <a @click="Subscribe(channelDetail.id)" title="" v-else class="subscribe" style="cursor:pointer">Subscribe <strong>{{this.countSubscribe}}</strong></a>
					</li>
				</ul><!--chan_cantrz end-->
				<div class="search_form">
					<form>
						<input type="text" name="search" placeholder="Search Videos" v-model="search">
						<button type="button" @click="searchVideo()">
							<i class="icon-search"></i>
						</button>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div><!--info-pr-sec end-->
		<div class="history-lst tbY">
			<div class="container">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link" href="/">Home</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link active" id="videos_taab" data-toggle="tab" href="#vvideo_tabz" role="tab" aria-controls="videos_taab" aria-selected="false">Videos </a>
				  </li>
				</ul><!--nav-tabs end-->
				<div class="clearfix"></div>
			</div>
		</div><!--history-lst end-->
		<div class="tab-content p-0" id="myTabContent">
		  	<div class="tab-pane fade show active" id="vvideo_tabz" role="tabpanel" aria-labelledby="videos_taab">
		  		<div class="videso_tb_details">
		  			<div class="container">
			  			<div class="vidz_sec">
							<h3>Uploads</h3>
							<a title="" @click="sortBy()" style="cursor:pointer"><i class="icon-sort_by"></i>Sort By</a>
							<div class="clearfix"></div>
							<div class="vidz_list">
								<div class="row">
									<div v-for="(video, key) in videos" :key="key" class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
										<div class="videoo">
                                            <div class="vid_thumbainl">
                                                <a :href="video.url_video" title="">
                                                    <img :src="video.thumbnail" alt="" style="max-height: 197px;">
                                                    <span class="vid-time">{{ video.duration }}</span>
                                                    <span class="watch_later">
                                                        <i class="icon-watch_later_fill"></i>
                                                    </span>
                                                </a>	
                                            </div>
                                            <div class="video_info">
                                                <h3><a :href="video.url_video" title="">{{video.title}}</a></h3>
                                                <h4><a :href="video.url_video" title="">{{video.channel}}</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
                                                <span>{{video.views_count}} views .<small class="posted_dt">{{ moment(video.created_at).fromNow() }}</small></span>
                                            </div>
                                        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
		  		</div><!--videso_tb_details end-->
		  	</div>
		</div>
	</section><!--Featured Videos end-->

	<section class="more_items_sec text-center">
		<div class="container">
			<a href="#" title="">
				<svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.1618 24.0001H0.838235C0.374412 24.0001 0 23.6261 0 23.1628V5.86052C0 5.39727 0.374412 5.02332 0.838235 5.02332H18.1618C18.6256 5.02332 19 5.39727 19 5.86052V23.1628C19 23.6261 18.6256 24.0001 18.1618 24.0001ZM1.67647 22.3256H17.3235V6.69773H1.67647V22.3256Z" fill="#9494A0"/>
					<g opacity="0.25">
					<path opacity="0.25" d="M13.1324 4.18605C12.6685 4.18605 12.2941 3.81209 12.2941 3.34884V1.67442H6.70589V3.34884C6.70589 3.81209 6.33148 4.18605 5.86765 4.18605C5.40383 4.18605 5.02942 3.81209 5.02942 3.34884V0.83721C5.02942 0.373954 5.40383 0 5.86765 0H13.1324C13.5962 0 13.9706 0.373954 13.9706 0.83721V3.34884C13.9706 3.81209 13.5962 4.18605 13.1324 4.18605Z" fill="#9494A0"/>
					</g>
					<path d="M9.50001 19.3479C9.28487 19.3479 9.06972 19.267 8.90766 19.1024L5.92634 16.1275C5.59942 15.801 5.59942 15.2707 5.92634 14.9442C6.25325 14.6177 6.78413 14.6177 7.11104 14.9442L9.50001 17.3275L11.8862 14.9442C12.2131 14.6177 12.744 14.6177 13.0709 14.9442C13.3978 15.2707 13.3978 15.801 13.0709 16.1275L10.0924 19.1024C9.93031 19.267 9.71516 19.3479 9.50001 19.3479Z" fill="#9494A0"/>
					<path d="M9.49999 18.4186C9.03617 18.4186 8.66176 18.0447 8.66176 17.5814V10.3256C8.66176 9.86236 9.03617 9.4884 9.49999 9.4884C9.96382 9.4884 10.3382 9.86236 10.3382 10.3256V17.5814C10.3382 18.0447 9.96382 18.4186 9.49999 18.4186Z" fill="#9494A0"/>
					<g opacity="0.5">
					<path opacity="0.5" d="M15.6471 6.69764C15.1832 6.69764 14.8088 6.32369 14.8088 5.86043V4.18601H4.19118V5.86043C4.19118 6.32369 3.81677 6.69764 3.35294 6.69764C2.88912 6.69764 2.51471 6.32369 2.51471 5.86043V3.34881C2.51471 2.88555 2.88912 2.5116 3.35294 2.5116H15.6471C16.1109 2.5116 16.4853 2.88555 16.4853 3.34881V5.86043C16.4853 6.32369 16.1109 6.69764 15.6471 6.69764Z" fill="#9494A0"/>
					</g>
				</svg>
			</a>
		</div>
	</section><!--more_items_sec end-->

    <footer-page></footer-page>
</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FooterPage from '@/Shared/FooterPage.vue'
import moment from 'moment'
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    components: {
      Layout, FooterPage, Loading
	},
	props: {
        channel: Object
	},
	data() {
		return {
            vidio: '',
            isLoading: false,
            fullPage: true,
            channelDetail:this.channel.data,
            videos:this.channel.data.videos,
            sort: 'desc',
            search: '',
            isSubscribe: this.channel.data.isSubscribe,
            countSubscribe: this.channel.data.countFollowers
		}
	},
	metaInfo() {
        return {
            title: 'SerbaWebinar',
            titleTemplate: `${this.channel.data.name} | SerbaWebinar`,
            htmlAttrs: {
                lang: 'en',
                amp: undefined
            },
            bodyAttrs: {
              tabIndex: 0
            },
            meta: [
              { charset: 'utf-8' },
              { name: 'Videos channel', content: `${this.channel.data.name}` },
              { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
            ]
        }
            
    },
    mounted() {
        // console.log(this.channel);
	},
	methods: {
		moment,
		onCancel() {
            console.log('User cancelled the loader.')
        },
        errorHandle (e) {
        // handle error
        },
        Subscribe(channel_id){
            axios.post(`/customer/subscribe`, {
                'channel': channel_id,
            }).then(res => {
				if (this.isSubscribe === true) {
					this.isSubscribe = false
				} else {
					this.isSubscribe = true
				}

				this.countSubscribe = res.data.countSubscribe

            }).catch(err => {
                console.log(err.response);
                this.$toasted.show(err.response.data.message ? err.response.data.message : err.response.data, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
            })
        },
        searchVideo(){
            this.isLoading = true;

            if (this.search == '') {
                this.isLoading = false

                return  this.$toasted.show('Please input keyword', { 
                            theme: "toasted-primary", 
                            position: "top-right", 
                            duration : 5000,
                            type : 'error',
                        });
            }

            axios.post(`/api/search/video`, {
                'channel': this.channelDetail.id,
                'keyword': this.search
            }).then(res => {
                setTimeout(() => {
                    this.isLoading = false
                    this.search = ''
                    this.videos = res.data.data
                },1500)
            }).catch(err => {
                this.isLoading = false
                this.$toasted.show(err.response.data.message, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
            })
        },
        sortBy(){
			if (this.sort == 'asc') {
				this.sort = 'desc'
			} else {
				this.sort = 'asc'
			}
			
			if (this.sort == 'desc') {
                return this.videos.sort(function(a, b) {
                    return b.id - a.id
                })
            } else if (this.sort == 'asc') {
                return this.videos.sort(function(a, b) {
                    return a.id - b.id
                })
            }
		}
		
    },
}
</script>
<style scoped>
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
</style>
