<template>
	<div>
		<layout></layout>
		<loading :active.sync="isLoading" 
        :can-cancel="true" 
        :on-cancel="onCancel"
        :is-full-page="fullPage"
        loader="bars"
        background-color="rgb(75,75,75)"
        color="rgb(0,171,0)"></loading>
    <section class="user-account">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <sidebar></sidebar>
                </div>
                <div class="col-lg-9">
                    <div class="video-details">
                        <div class="change-pswd">
                            <h2 class="hd-op">Edit Channel</h2>
                            <div class="vid-title-sec">
                                <div class="container">
                                    <form>
                                        <div class="vid-title mb-2">
                                            <h2 class="title-hd">Cover Image </h2>
                                            <div class="form_field" v-if="cropImg">
                                                <img :src="cropImg" alt="" style="max-width:200px; padding:10px">
                                                <button class="btn btn-danger" @click.prevent="deleteImage()" style="margin-top: 5px;padding:5px;font-size:15px">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                </button>
                                            </div>
                                            <div class="form_field" v-else>
                                                <svg @click="openModalImage()" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                                                <br>
                                                 <label style="color:red" v-if="this.errors.image">{{this.errors.image[0]}}</label>
                                            </div>
                                        </div>
                                        <div class="vid-title">
                                            <h2 class="title-hd">Channel Name </h2>
                                            <div class="form_field">
                                                <input 
                                                	type="text" 
                                                	placeholder="Channel Name"
                                                	value="name"
                                                	v-model="name">
                                                <label style="color:red" v-if="this.errors.name">{{this.errors.name[0]}}</label>
                                            </div>
                                        </div>
                                        <div class="abt-vidz-pr">
                                            <h2 class="title-hd"> Description </h2>
                                            <div class="form_field">
                                                <textarea placeholder="Description" v-model="description"></textarea>
                                                <label style="color:red" v-if="this.errors.description">{{this.errors.description[0]}}</label>
                                            </div>
                                        </div>
                                        <div class="vid-title">
                                            <h2 class="title-hd">Bussiness Name </h2>
                                            <div class="form_field">
                                                <input type="text" placeholder="Bussiness Name" v-model="bussiness">
                                                <label style="color:red" v-if="this.errors.bussiness">{{this.errors.bussiness[0]}}</label>
                                            </div>
                                        </div>
                                        <div class="youtube-dwn" style="margin: 20px 0px !important;text-align: left !important;">
                                            <h2 class="title-hd"> Link Channel </h2>
                                            <form>
                                                <button type="button">www.video.com</button>
                                                <input type="text" name="import_video" placeholder="Channel link here" v-model="links" @input="niceSlug($event.target.value)" >
                                                <label style="color:red" v-if="this.errors.links">{{this.errors.links[0]}}</label>
                                            </form>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="btn-sbmit">
                                            <button type="button" @click="saveChannel()">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modalFloatImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Upload Cover Image</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div v-if="cropImg" style="width: auto; display: inline-block;">
                                        <img :src="cropImg" alt="" style="max-width:460px; padding:10px">
                                    </div>
                                    <div v-else>
                                        <input type="file" name="image" id="image" @change="setCoverImage" class="form-control" accept="image/*">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" @click="hideModalImage()"><i class="fa fa-times" aria-hidden="true"></i> Tutup</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer-page></footer-page>
	</div>
</template>

<script>
	import Layout from '@/Shared/Layout'
	import Sidebar from '@/Shared/Sidebar'
	import FooterPage from '@/Shared/FooterPage.vue'

	import Loading from 'vue-loading-overlay';
	// Import stylesheet
	import 'vue-loading-overlay/dist/vue-loading.css';
    import 'cropperjs/dist/cropper.css'

	export default {
		components: {
      Layout, Sidebar, Loading, FooterPage
    },

    props: {
    	channel: Object,
    },

    data(){
    	return {
    		cropImg: '',
            name: '',
            description: '',
            isLoading: false,
            fullPage: true,
            links: '',
            bussiness: '',
            errors: {},
        	}
    },
    metaInfo() {
        return {
            title: 'SerbaWebinar',
            titleTemplate: `${this.name} | SerbaWebinar`,
            htmlAttrs: {
                lang: 'en',
                amp: undefined
            },
            bodyAttrs: {
              tabIndex: 0
            },
            meta: [
              { charset: 'utf-8' },
              { name: 'edit channel', content: `${this.name}` },
              { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
            ]
        }
            
    },

    mounted(){
    	this.cropImg = this.channel.cover_image
    	this.name = this.channel.name
    	this.description = this.channel.description
    	this.bussiness = this.channel.business
    	this.links = this.channel.links
    },

    methods: {
	  	niceSlug(value){
				this.links = this.$options.filters.niceSlugFilter(value.toLowerCase().trim())
		},
	    
        openModalImage(){
	        $('#modalFloatImage').modal('show')
	    },
	    
        hideModalImage(){
	        $('#modalFloatImage').modal('hide')
	    },
	   	
        setCoverImage(e){
            const file = e.target.files[0]
            if (!file.type.includes('image/')) {
                alert('Please select an image file');
                return;
            }
            if (typeof FileReader === 'function') {
                const reader = new FileReader()
                reader.onload = (event) => {
                    this.cropImg = event.target.result
                };
                reader.readAsDataURL(file)
            } else {
                alert('Sorry, FileReader API not supported')
            }
	   	}, 
	   	
        onCancel() {
          console.log('User cancelled the loader.')
         },

        deleteImage(){
            this.cropImg = ''
        },

	    reset(){
	        this.cropImg = ''
	        this.name = ''
	        this.description = ''
	        this.links = ''
	        this.business = ''
	    },

	    saveChannel(){
	        this.isLoading = true;

            var formData = {
                'name': this.name,
                'cover_image': this.cropImg,
                'description': this.description,
                'business': this.business,
                'links': this.links
            }

            setTimeout(() => {
                this.$inertia.put(`/customer/channel/${this.channel.id}/update`, formData)
                .then(() => {
                    this.isLoading =false;
                    this.$toasted.show("Successfully edit channel", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        type : 'success',
                    });

                }).catch(err => {
                    if (err.response.data.errors) {
                        this.errors = err.response.data.errors
                    }

                    this.isLoading = false
                    this.$toasted.show(err.response.data.message ? err.response.data.message : err.response.data, { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        type : 'error',
                    });
            })
            }, 1000)

                
	    }
    }

	}
</script>