<template>
<div>
    <loading :active.sync="isLoading" 
	:can-cancel="true" 
	:on-cancel="onCancel"
	:is-full-page="fullPage"
	loader="bars"
	background-color="rgb(75,75,75)"
	color="rgb(0,171,0)"></loading>
    <layout></layout>
    <section class="upload-videooz">
        <div class="container">
            <div class="row" v-if="video_src || video_src_youtube">
                <div class="col-lg-6">
                    <div class="mn-vid-sc single_video" >
                        <div class="vid-1">
                            <div class="vid-pr" v-if="video_src">
                                <vue-core-video-player :autoplay="false" @error="errorHandle" :src="video_src" @loadedmetadata="getDuration($event)"></vue-core-video-player>
                            </div>
                            <div class="vid-pr" v-else>
                                <iframe 
                                    width="420" 
                                    height="315"
                                    :src="`https://www.youtube.com/embed/${video_src_youtube}`">
                                </iframe>
                            </div>
                        </div>
                    </div>

                    <div v-if="video.video_type === 'upload'">
                        <button class="btn btn-danger" @click.prevent="deleteVideoUpload()" style="margin-top: 5px;padding:5px;font-size:15px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                        </button>
                    </div>
                    <div v-if="video.video_type === 'youtube'">
                        <button class="btn btn-danger" @click.prevent="deleteVideoYoutube()" style="margin-top: 5px;padding:5px;font-size:15px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                        </button>
                    </div>
                    

                </div>
                <div class="col-lg-6">
                    <div class="vid-title-sec">
                        <div class="container">
                            <form>
                                <div class="vid-title" v-if="video.video_type === 'upload'">
                                    <h2 class="title-hd">Video Thumbnail </h2>
                                    <div class="form_field" v-if="cropImg">
                                        <img :src="cropImg" alt="" style="max-width:200px; padding:10px">
                                        <button class="btn btn-danger" @click.prevent="deleteImage()" style="margin-top: 5px;padding:5px;font-size:15px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                        </button>
                                    </div>
                                    <div class="form_field" v-else>
                                        <svg @click="openModalImage()" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                                    </div>
                                </div>
                                <div class="vid-title" style="margin-bottom:20px">
                                    <h2 class="title-hd">Video Category </h2>
                                    <div class="form_field">
                                        <multiselect v-model="category" 
                                            :options="categories" 
                                            :multiple="true" 
                                            :close-on-select="false" 
                                            :clear-on-select="false" 
                                            :preserve-search="true" 
                                            placeholder="Pick some" 
                                            label="name" track-by="id" 
                                            :preselect-first="true">
                                            <template slot="selection" 
                                            slot-scope="{ values, search, isOpen }">
                                            <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
                                                {{ values.length }} categories selected</span>
                                            </template>
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="vid-title" v-if="video.video_type === 'upload'">
                                    <h2 class="title-hd">Video Title </h2>
                                    <div class="form_field">
                                        <input type="text" placeholder="Add here (99 characters remaining)" v-model="title">
                                    </div>
                                </div>
                                <div class="abt-vidz-pr" v-if="video.video_type === 'upload'">
                                    <h2 class="title-hd"> About </h2>
                                    <div class="form_field">
                                        <textarea placeholder="Description" v-model="description"></textarea>
                                    </div>
                                </div>
                                <div class="cls-vidz">
					                <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="option">
                                                <h2 class="title-hd">Privacy Settings</h2>
                                                <div class="form_field">
                                                    <select v-model="privacy">
                                                        <option v-for="(item, key) in privacies"
                                                            :label="item.name"
                                                            :value="item.value"
                                                            v-bind:key="key">{{item.name}}</option>
                                                    </select>
                                                    <a href="#" title="" class="arw_vz">
                                                        <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9394 7.51447L22.0607 9.63579L12 19.6964L1.93936 9.63579L4.06068 7.51447L12 15.4538L19.9394 7.51447Z" fill="#9494A0"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="btn-sbmit">
                                    <button type="button" @click="saveVideo()">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-else>
                <div class="col-lg-6">
                    <div class="video-file">
                        <i class="icon-graphics_05" @click="openModal()"></i>
                        <h3>Select video files to upload </h3>
                        <span>select your video files</span>
                        <form>
                            <label class="custom-file-upload"  @click="openModal()">
                                Upload Video
                            </label>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="youtube-dwn">
                        <i class="icon-graphics_03"></i>
                        <h3>Import videos from YouTube </h3>
                        <span>Copy / Paste your video link here</span>
                        <form>
                            <input type="text" name="import_video" placeholder="Paste link here" v-model="video_youtube">
                            <button type="button" @click="youtubeSubmit()">Import Video</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalFloatVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Upload Video</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <input type="file" name="video" id="video" @change="setVideo" class="form-control" accept="video/*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="hideModal()"><i class="fa fa-times" aria-hidden="true"></i> Tutup</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalFloatImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Upload Video Thumbnail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div v-if="img_src" style="width: auto; height:500px; border: 1px solid gray; display: inline-block;">
                            <vue-cropper
                                ref='cropper'
                                :guides="true"
                                :view-mode="2"
                                drag-mode="crop"
                                :auto-crop-area="0.5"
                                :min-container-width="480"
                                :min-container-height="360"
                                :background="true"
                                :rotatable="true"
                                :aspectRatio= "16/9"
                                :src="img_src"
                                :img-style="{ 'width': 'auto', 'height': '500px' }">
                            </vue-cropper>
                        </div>
                        <div v-else>
                            <input type="file" name="image" id="image" @change="setImageThumbnail" class="form-control" accept="image/*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" v-if="img_src" @click="cropImage()"><i class="fa fa-cut" aria-hidden="true"></i> Simpan</button>
                        <button type="button" class="btn btn-secondary" @click="hideModalImage()"><i class="fa fa-times" aria-hidden="true"></i> Tutup</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer-page></footer-page>
</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import Sidebar from '@/Shared/Sidebar'
import FooterPage from '@/Shared/FooterPage.vue'
import Loading from 'vue-loading-overlay';
import VueCropper from 'vue-cropperjs'
import Multiselect from 'vue-multiselect'

import 'vue-loading-overlay/dist/vue-loading.css';
import 'cropperjs/dist/cropper.css'

export default {
    components: {
      Layout, Sidebar, FooterPage, Loading, VueCropper, Multiselect
    },
    props:{
        video: Object,
    },
	data() {
		return {
            isLoading: false,
            fullPage: true,
            video_src: '',
            video_src_youtube: '',
            video_youtube: '',
            img_src: '',
            cropImg: '',
            title: '',
            description: '',
            privacy: {},
            duration: null,
            privacies: [
                {
                    value : 'public',
                    name : 'Public'
                },
                {
                    value : 'private',
                    name : 'Private'
                }
            ],
            category: [],
            categories: []
		}
    },

    metaInfo() {
        return {
            title: 'SerbaWebinar',
            titleTemplate: `${this.video.title} | SerbaWebinar`,
            htmlAttrs: {
                lang: 'en',
                amp: undefined
            },
            bodyAttrs: {
              tabIndex: 0
            },
            meta: [
              { charset: 'utf-8' },
              { name: 'Edit Video', content: `${this.video.title}` },
              { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
            ]
        }     
    },
    
    mounted() {
        this.getCategory()

        if (this.video.video_type == 'upload') {
            this.video_src = this.video.path
        } else {
            this.video_src_youtube = this.video.path
        }
        this.cropImg = this.video.thumbnail
        this.title = this.video.title
        this.description = this.video.about
        this.privacy = this.video.privacy_setting
        this.category = this.video.category
	},
	methods: {
        getCategory() {
            axios.get(`/api/category`)
            .then(res => {
                this.categories = res.data.data
            });
		},
        getDuration(e){
            this.duration = e.target.duration
        },
        deleteImage(){
            this.cropImg = ''
        },
        deleteVideoUpload(){
            this.video_src = ''
        },

        deleteVideoYoutube() {
            this.video_src_youtube = ''
        },

        youtubeSubmit(){
            // this.video_src_youtube = this.video_youtube
            var regex = /^(?:http(?:s)?:\/\/)?(?:www\.)?(?:m\.)?(?:youtu\.be\/|youtube\.com\/(?:(?:watch)?\?(?:.*&)?v(?:i)?=|(?:embed|v|vi|user)\/))([^\?&\"'>]+)/;
            var matches = regex.exec(this.video_youtube)
            this.video_src_youtube = matches[1];
        },
		onCancel() {
            console.log('User cancelled the loader.')
        },
        errorHandle (e) {
        // handle error
        },
        openModal(){
            $('#modalFloatVideo').modal('show')
        },
        hideModal(){
            $('#modalFloatVideo').modal('hide')
        },
        openModalImage(){
            $('#modalFloatImage').modal('show')
        },
        hideModalImage(){
            $('#modalFloatImage').modal('hide')
        },
        setImageThumbnail(e){
            const file = e.target.files[0]
			if (!file.type.includes('image/')) {
				alert('Please select an image file');
				return;
			}
			if (typeof FileReader === 'function') {
				const reader = new FileReader()
				reader.onload = (event) => {
                    this.img_src = event.target.result
				};
				reader.readAsDataURL(file)
			} else {
				alert('Sorry, FileReader API not supported')
			}
        },
        cropImage() {
			this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL()
        }, 
		setVideo(e) {
			const file = e.target.files[0]
			if (!file.type.includes('video/')) {
				alert('Please select an video file');
				return;
			}
			if (typeof FileReader === 'function') {
				const reader = new FileReader()
				reader.onload = (event) => {
                    this.video_src = event.target.result
				};
				reader.readAsDataURL(file)
			} else {
				alert('Sorry, FileReader API not supported')
			}
        },
        saveVideo(){
            this.isLoading = true;
            setTimeout(() => {
                this.$inertia.put(`/customer/video/${this.video.slug}/update`, {
                    'title': this.title,
                    'thumbnail': this.cropImg,
                    'video': this.video_src ? this.video_src : this.video_youtube,
                    'video_type': this.video_src ? 'upload' : 'youtube',
                    'about': this.description,
                    'privacy_setting': this.privacy,
                    'duration': this.duration ? this.duration : 0,
                    'categories' : this.category
                }).then(() => {
                    this.isLoading = false;
                    this.$toasted.show("Successfully update video", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        type : 'success',
                    });
                });
            },1000)
        }
	}
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>