<template>
<div>
    <layout></layout>
    <section class="user-account">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <sidebar></sidebar>
                </div>
                <div class="col-lg-9">
                    <div class="video-details">
                        <div class="latest_vidz" v-for="(playlist, key) in playlist_videos" :key="key">
                            <div class="latest-vid-option">
                                <h2 class="hd-op"> {{playlist.name}}</h2>
                                <a href="#" title="" class="op-1">Video Details</a>
                                <a href="#" title="" class="op-2"> Options</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="vidz_list">
                                <div class="tb-pr" v-for="video in playlist.videos" :key="video.id">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-9 col-md-9 col-sm-12">
                                            <div class="tab-history acct_page">
                                                <div class="videoo">
                                                    <div class="vid_thumbainl ms br">
                                                        <a :href="video.url_video">
                                                            <img :src="video.thumbnail" alt="" style="max-height: 197px;">
                                                        </a>	
                                                    </div>
                                                    <div class="video_info ms br">
                                                        <h3>
                                                            <a :href="video.url_video">
                                                                {{ video.title}}
                                                            </a>
                                                        </h3>
                                                        <span>{{ video.views_count}} views . {{ moment(video.created_at).fromNow() }}</span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-3 col-md-3 col-sm-12">
                                            <div class="icon-list">
                                                <ul>
                                                    <li>
                                                        <a @click="deleteVideo(playlist.id, video.id)" style="cursor: pointer;"><i class="icon-cancel"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer-page></footer-page>
</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import Sidebar from '@/Shared/Sidebar'
import FooterPage from '@/Shared/FooterPage.vue'
import moment from 'moment'
import swal from 'sweetalert'

export default {
    components: {
      Layout, Sidebar, FooterPage
    },
    props:{
        playlists: Object,
    },

    data(){
        return{
            isLoading: false,
            fullPage: true,
            playlist_videos: this.playlists.data
        }
    },
    metaInfo() {
        return {
            title: 'SerbaWebinar',
            titleTemplate: `Playlists | SerbaWebinar`,
            htmlAttrs: {
                lang: 'en',
                amp: undefined
            },
            bodyAttrs: {
              tabIndex: 0
            },
            meta: [
              { charset: 'utf-8' },
              { name: 'Playlists', content: `SerbaWebinar` },
              { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
            ]
        }     
    },

    methods: {
        moment,
        deleteVideo(playlistId, videoId){
            swal({
                title: "Are you sure?",
                text: "video will be deleted from the playlist!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                this.$inertia.delete(`/customer/playlist/${playlistId}/${videoId}/delete`).then(() => {
                    this.$toasted.show("Successfully delete video", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        type : 'success',
                    });
                });
            })
        }
    },

    mounted() {
        // console.log(this.playlist_videos);
    }
}
</script>
