<template>
<div>
    <layout></layout>

	<loading :active.sync="isLoading" 
        :can-cancel="true" 
        :on-cancel="onCancel"
        :is-full-page="fullPage"
        loader="bars"
        background-color="rgb(75,75,75)"
        color="rgb(0,171,0)"></loading>

    <section class="mn-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="mn-vid-sc single_video">
						<div class="vid-1">
							<div class="vid-pr">
                                <div class="player-container" style="width: 100%;height: auto;" v-if="this.video.data.video_type == 'upload'">
                                    <vue-core-video-player :autoplay="false" @error="errorHandle" :src="this.video.data.path" ></vue-core-video-player>
                                </div>
                                <div v-else>
                                	<iframe 
	                                    width="420" 
	                                    height="315"
	                                    :src="`https://www.youtube.com/embed/${video.data.path}`">
	                                </iframe>
                                </div>
							</div>
							<div class="vid-info">
								<h3>{{this.video.data.title}}</h3>
								<div class="info-pr">
									<span>{{this.video.data.views_count}} views</span>
									<ul class="pr_links">
										<li>
											<button type="button" @click="responVideo(video.data.id, 'like')" data-toggle="tooltip" data-placement="top" title="I like this">
												<i class="icon-thumbs_up_fill" v-if="isLike" style="color:blue"></i>
												<i class="icon-thumbs_up_fill" v-else></i>
											</button>
											<span>{{this.countLike}}</span>
										</li>
										<li>
											<button type="button" @click="responVideo(video.data.id, 'dislike')" data-toggle="tooltip" data-placement="top" title="I dislike this">
												<i class="icon-thumbs_down_fill" v-if="isDislike" style="color:blue"></i>
												<i class="icon-thumbs_down_fill" v-else></i>
											</button>
											<span>{{this.countDislike}}</span>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<div class="abt-mk">
							<div class="info-pr-sec">
								<div class="vcp_inf cr">
									<div class="vc_hd">
										<img :src="this.video.data.avatar_user" alt="">
									</div>
									<div class="vc_info pr">
										<h4><a :href="this.video.data.url_channel" title="">{{this.video.data.channel}}</a></h4>
										<span>Published on {{this.video.data.posted_at}}</span>
									</div>
								</div>							
								<ul class="chan_cantrz">
									<li>
										<a @click="Subscribe(video.data.channel_id, video.data.id)" title="" v-if="isSubscribe" class="subscribe" style="cursor:pointer;background: red !important;">Unsubscribe <strong>{{this.countSubscribe}}</strong></a>
										<a @click="Subscribe(video.data.channel_id, video.data.id)" title="" v-else class="subscribe" style="cursor:pointer">Subscribe <strong>{{this.countSubscribe}}</strong></a>
									</li>
								</ul>
								<ul class="df-list">
									<li>
										<button @click="openModal()" data-toggle="tooltip" data-placement="top" title="Add to playlist">
											<i class="icon-add_to_playlist"></i>
										</button>
									</li>
									<li>
										<button @click="openModalShareLink()"  data-toggle="tooltip" data-placement="top" title="Share">
											<i class="icon-share"></i>
										</button>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
							<div class="about-ch-sec">
								<div class="abt-rw" v-if="this.video.data.url_youtube">
									<h4>Link Youtube : </h4>
									<a :href="this.video.data.url_youtube" target="_blank" style="color:#065FD4;">{{ this.video.data.url_youtube }}</a>
								</div>
								<div class="abt-rw">
									<h4>About : </h4>
									<pre v-html="urlify(this.video.data.about)"></pre>
								</div>
							</div>
						</div>
						<div class="cmt-bx">
							<ul class="cmt-pr">
								<li><span>{{this.comments.length}}</span> Comments</li>
								<li>
									<span><i class="icon-sort_by"></i><a @click="sortBy()" title="">Sort By</a></span>
								</li>
							</ul>
							<div class="clearfix"></div>
							<div class="clearfix"></div>
							<div class="vcp_inf pc">
								<div class="vc_hd">
									<img :src="this.$page.props.avatar" alt="">
								</div>
								<form>
									<input type="text" v-model="comment" placeholder="Add a public comment" >
									<button type="button" @click="postNewComment()">Comment</button>
								</form>
								<div class="clearfix"></div>
								<div class="rt-cmt">
									<a href="#" title="">
										<i class="icon-cancel"></i>
									</a>
									<div class="clearfix"></div>
								</div>
							</div>
							<ul class="cmn-lst">
								<li v-for="(comment, key) in comments" :key="key"> 
									<div class="vcp_inf">
										<div class="vc_hd">
											<img :src="comment.avatar" alt="">
										</div>
										<div class="coments">
											<h2>{{comment.username}} <small class="posted_dt"> . {{ moment(comment.created_at).fromNow() }}</small></h2>
											<p>{{comment.content}} </p>
											<ul class="cmn-i">
												<li>
													<a title="" @click="responComment(comment.id, 'like')">
														<i class="icon-thumbs_up"></i>
													</a>
													<span>{{comment.likes_count}}</span>
												</li>
												<li>
													<a title="" @click="responComment(comment.id, 'dislike')">
														<i class="icon-thumbs_down"></i>
													</a>
													<span>{{comment.dislikes_count}}</span>
												</li>
											</ul>
											<div class="vcp_inf pc">
												<ul class="cmn-lst">
													<li v-for="(message, k) in comment.messages" :key="k">
														<div class="vcp_inf">
															<div class="vc_hd">
																<img :src="message.avatar" alt="">
															</div>
															<div class="coments">
																<h2>{{message.username}} <small class="posted_dt"> . {{ moment(message.created_at).fromNow() }}</small></h2>
																<p>{{message.content}} </p>
																<ul class="cmn-i">
																	<li>
																		<a title="" @click="responComment(message.id_message, 'like')">
																			<i class="icon-thumbs_up"></i>
																		</a>
																		<span>{{message.likes_count}}</span>
																	</li>
																	<li>
																		<a title="" @click="responComment(message.id_message, 'dislike')">
																			<i class="icon-thumbs_down"></i>
																		</a>
																		<span>{{message.dislikes_count}}</span>
																	</li>
																</ul>
															</div>
														</div>
													</li>
												</ul>
											</div>
											
										</div>
									</div>
									
									<div class="vcp_inf pc">
										<form>
											<input type="text" v-model="comment.message" placeholder="reply comment" >
											<button type="button" @click="postReplyComment(comment.id, comment.message)">Reply</button>
										</form>
										<div class="clearfix"></div>
										<div class="rt-cmt">
											<a href="#" title="">
												<i class="icon-cancel"></i>
											</a>
											<div class="clearfix"></div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="vidz-prt">
							<h2 class="sm-vidz">Videos from this channel</h2>
							<div class="clearfix"></div>
						</div>
						<div class="videoo-list-ab">
							<div class="videoo" v-for="(video, key) in others_video" :key="key">
								<div class="vid_thumbainl">
									<a :href="video.url_video" title="">
										<img :src="video.thumbnail" alt="" style="max-height: 197px;">
										<span class="vid-time">
											{{ video.duration }}
										</span>
										<span class="watch_later">
											<i class="icon-watch_later_fill"></i>
										</span>
									</a>	
								</div>
								<div class="video_info">
									<h3><a href="#" title="">{{video.title}}</a></h3>
									<h4><a href="#" title="">{{video.channel}}</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>{{video.views_count}} views .<small class="posted_dt">{{ moment(video.created_at).fromNow() }}</small></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="modal fade" id="modalFloatPlaylist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">Tambah Playlist</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="container" v-if="this.playlists.length > 0">
						<div class="row" style="padding: 5px;" v-for="(playlist, key) in playlists" :key="key">
							<div class="col-md-8">
								{{playlist.name}}
							</div>
							<div class="col-md-4">
								<button class="btn btn-secondary" @click="addPlaylistVideo(playlist.id)">Simpan ke...</button>
							</div>
						</div>
					</div>
					<div class="container" v-else>
						<div class="row">
							<div class="col-md-12">
								Belum Ada Playlist
							</div>
						</div>
					</div>
					<div class="vid-title-sec" v-if="activetab === 2" style="margin-top:40px;border-top: 1px solid #e9ecef;">
                        <div class="container" style="margin-top: 20px;">
                            <form>
                                <div class="vid-title">
                                    <h2 class="title-hd">Name Playlist </h2>
                                    <div class="form_field">
                                        <input type="text" placeholder="Add here" v-model="name">
                                    </div>
                                </div>
                                <div class="cls-vidz">
					                <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="option">
                                                <h2 class="title-hd">Privacy Settings</h2>
                                                <div class="form_field">
                                                    <select v-model="privacy">
                                                        <option v-for="(item, key) in privacies"
                                                            :label="item.name"
                                                            :value="item.value"
                                                            v-bind:key="key">{{item.name}}</option>
                                                    </select>
                                                    <a href="#" title="" class="arw_vz">
                                                        <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9394 7.51447L22.0607 9.63579L12 19.6964L1.93936 9.63579L4.06068 7.51447L12 15.4538L19.9394 7.51447Z" fill="#9494A0"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="btn-sbmit">
                                    <button type="button" @click="addPlaylist()">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
				</div>
				<div class="modal-footer" v-if="activetab === 1">
					<button v-on:click="activetab=2" type="button" class="btn btn-success"><i class="fa fa-times" aria-hidden="true"></i> Buat Playlist Baru</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalShareLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">Share</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="share_scroll">
						<div class="hello">
						    <facebook :url="currentURL" scale="3"></facebook>
						    <twitter :url="currentURL" :title="video.data.title" scale="3"></twitter>
						    <linkedin :url="currentURL" scale="3"></linkedin>
						    <telegram :url="currentURL" :title="video.data.title" scale="3"></telegram>
						    <whats-app :url="currentURL" :title="video.data.title" scale="3"></whats-app>
						    <pinterest :url="currentURL" :title="video.data.title" scale="3"></pinterest>
						    <reddit :url="currentURL" scale="3" :title="video.data.title"></reddit>
						    <google :url="currentURL" scale="3"></google>
						    <email :url="currentURL" :subject="video.data.title" scale="3"></email>
						</div>
					</div>
						
				</div>
				<!-- <div class="modal-footer" v-if="activetab === 1">
					<button v-on:click="activetab=2" type="button" class="btn btn-success"><i class="fa fa-times" aria-hidden="true"></i> Buat Playlist Baru</button>
				</div> -->
			</div>
		</div>
	</div>

	<section class="more_items_sec text-center">
		<div class="container">
			<a href="#" title="">
				<svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.1618 24.0001H0.838235C0.374412 24.0001 0 23.6261 0 23.1628V5.86052C0 5.39727 0.374412 5.02332 0.838235 5.02332H18.1618C18.6256 5.02332 19 5.39727 19 5.86052V23.1628C19 23.6261 18.6256 24.0001 18.1618 24.0001ZM1.67647 22.3256H17.3235V6.69773H1.67647V22.3256Z" fill="#9494A0"/>
					<g opacity="0.25">
					<path opacity="0.25" d="M13.1324 4.18605C12.6685 4.18605 12.2941 3.81209 12.2941 3.34884V1.67442H6.70589V3.34884C6.70589 3.81209 6.33148 4.18605 5.86765 4.18605C5.40383 4.18605 5.02942 3.81209 5.02942 3.34884V0.83721C5.02942 0.373954 5.40383 0 5.86765 0H13.1324C13.5962 0 13.9706 0.373954 13.9706 0.83721V3.34884C13.9706 3.81209 13.5962 4.18605 13.1324 4.18605Z" fill="#9494A0"/>
					</g>
					<path d="M9.50001 19.3479C9.28487 19.3479 9.06972 19.267 8.90766 19.1024L5.92634 16.1275C5.59942 15.801 5.59942 15.2707 5.92634 14.9442C6.25325 14.6177 6.78413 14.6177 7.11104 14.9442L9.50001 17.3275L11.8862 14.9442C12.2131 14.6177 12.744 14.6177 13.0709 14.9442C13.3978 15.2707 13.3978 15.801 13.0709 16.1275L10.0924 19.1024C9.93031 19.267 9.71516 19.3479 9.50001 19.3479Z" fill="#9494A0"/>
					<path d="M9.49999 18.4186C9.03617 18.4186 8.66176 18.0447 8.66176 17.5814V10.3256C8.66176 9.86236 9.03617 9.4884 9.49999 9.4884C9.96382 9.4884 10.3382 9.86236 10.3382 10.3256V17.5814C10.3382 18.0447 9.96382 18.4186 9.49999 18.4186Z" fill="#9494A0"/>
					<g opacity="0.5">
					<path opacity="0.5" d="M15.6471 6.69764C15.1832 6.69764 14.8088 6.32369 14.8088 5.86043V4.18601H4.19118V5.86043C4.19118 6.32369 3.81677 6.69764 3.35294 6.69764C2.88912 6.69764 2.51471 6.32369 2.51471 5.86043V3.34881C2.51471 2.88555 2.88912 2.5116 3.35294 2.5116H15.6471C16.1109 2.5116 16.4853 2.88555 16.4853 3.34881V5.86043C16.4853 6.32369 16.1109 6.69764 15.6471 6.69764Z" fill="#9494A0"/>
					</g>
				</svg>
			</a>
		</div>
	</section>

    <footer-page></footer-page>
</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FooterPage from '@/Shared/FooterPage.vue'
import moment from 'moment'
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';
import {
  Facebook,
  Twitter,
  Linkedin,
  Pinterest,
  Reddit,
  Telegram,
  WhatsApp,
  Email,
  Google
} from "vue-socialmedia-share";

export default {
	
    components: {
	    Layout, FooterPage, Loading,
	    Facebook,
	    Twitter,
	    Linkedin,
	    Pinterest,
	    Reddit,
	    Telegram,
	    WhatsApp,
	    Email,
	    Google
	},
	props: {
        channel: Object,
        video: Object,
        other_videos: Object
	},
	data() {
		return {
			activetab: 1,
            vidio: '',
			others_video: this.other_videos.data,
			respons: '', 
			isLike: this.video.data.isLikeVideo,
			isDislike: this.video.data.isDislikeVideo,
			countLike: this.video.data.countLike,
			countDislike: this.video.data.countDislike,
			countSubscribe: this.video.data.countSubscribe,
			isSubscribe: this.video.data.isSubscribe,
			comments: [],
			playlists: [],
			comment: '',
			replyComment: '',
			isLoading: false,
			fullPage: true,
			sort: 'asc',
			privacy: {},
			name: '',
            privacies: [
                {
                    value : 'public',
                    name : 'Public'
                },
                {
                    value : 'private',
                    name : 'Private'
                }
            ],
            currentURL: '',
		}
	},
	metaInfo() {
		return {
			title: 'SerbaWebinar',
	    	titleTemplate: `${this.video.data.title} | SerbaWebinar`,
	        htmlAttrs: {
	            lang: 'en',
	            amp: undefined
	        },
	        bodyAttrs: {
	          tabIndex: 0
	        },
	        meta: [
	          { charset: 'utf-8' },
	          { name: 'keywords', content: 'video, sharing, camera phone, video phone, free, upload' },
	          { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' },
	          { name: 'description', content: `${this.video.data.description}` },
	          { property: 'og:image' ,content: `${this.video.data.thumbnail}` },
	          { property: 'og:image:type' ,content: 'image/jpg' },
	          { property: 'og:image:width' ,content: '200' },
	          { property: 'og:image:height' ,content: '200' },
	        ]
		}
	        
    },
    mounted() {
		this.getComment()
		this.getPlaylist()
		
		let domain = process.env.APP_URL 
		this.currentURL = `${domain}${window.location.pathname}`

		var text = 'Find me at http://www.example.com and also at http://stackoverflow.com';
		var html = this.urlify(text);
	},
	methods: {
		moment,
		urlify(text) {
		  var urlRegex = /(https?:\/\/[^\s]+)/g;
		  return text.replace(urlRegex, function(url) {
		    return '<a href="' + url + '" style="color:#065FD4;">' + url + '</a>';
		  })
		},

		openModal(){
			if (this.$page.props.loggedIn === false) {
				this.$toasted.show("Silahkan login terlebih dahulu", { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
				return window.location = '/login'
			} else {
            	$('#modalFloatPlaylist').modal('show')
			}
        },
        hideModal(){
            $('#modalFloatPlaylist').modal('hide')
        },

        openModalShareLink() {
        	$('#modalShareLink').modal('show')
        },
        hideModal() {
        	$('#modalShareLink').modal('hide')	
        },
		onCancel() {
            console.log('User cancelled the loader.')
        },
        errorHandle (e) {
        // handle error
		},
		responVideo(videoId, respon){
			axios.post(`/customer/like`, {
                'video': videoId,
                'respons': respon,
            }).then(res => {
				if (respon === 'like') {
					this.isLike = true
					this.isDislike = false
				} else{
					this.isDislike = true
					this.isLike = false
				}

				this.countLike = res.data.countLike
				this.countDislike = res.data.countDislike

            }).catch(err => {
                console.log(err.response);
                this.isLoading = false
                this.$toasted.show(err.response.data.message ? err.response.data.message : err.response.data, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
				if (err.response.status === 401) {
					window.location = '/login'
				}
            })
		},
		getComment() {
            axios.get(`/api/video/${this.video.data.slug}`)
            .then(res => {
				this.comments = res.data.data
            });
		},
		postNewComment(){
            this.isLoading = true;

            axios.post(`/customer/comment`, {
                'comment': this.comment,
                'video_id': this.video.data.id
            })
            .then(res => {
                this.comment = ''
                _.delay(() => {
					this.isLoading = false;

                    this.$toasted.show("New comment has been send Successfully", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        type : 'success',
                    });
                }, 1500, 'later')
                this.getComment()
            })
            .catch(err => {
                this.comment = ''
                this.isLoading = false
                this.$toasted.show(err.response.data.message ? err.response.data.message : err.response.data, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
				if (err.response.status === 401) {
					window.location = '/login'
				}
            })
		},
		postReplyComment(parent_id, message){
            this.isLoading = true;

            axios.post(`/customer/comment/reply`, {
                'comment': message,
				'video_id': this.video.data.id,
                'parent_id': parent_id
            })
            .then(res => {
                this.replyComment = ''
                _.delay(() => {
					this.isLoading = false;

                    this.$toasted.show("New comment has been send Successfully", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        type : 'success',
                    });
                }, 1500, 'later')
                this.getComment()
            })
            .catch(err => {
                this.replyComment = ''
                this.isLoading = false
                this.$toasted.show(err.response.data.message ? err.response.data.message : err.response.data, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
				if (err.response.status === 401) {
					window.location = '/login'
				}
            })
		},
		responComment(commentId, respon){
			axios.post(`/customer/like-comment`, {
                'comment': commentId,
                'respons': respon,
            }).then(res => {
                this.getComment()
            }).catch(err => {
                console.log(err.response);
                this.$toasted.show(err.response.data.message ? err.response.data.message : err.response.data, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
				if (err.response.status === 401) {
					window.location = '/login'
				}
            })
		},
		Subscribe(channel_id, video_id){
			axios.post(`/customer/subscribe`, {
                'video': video_id,
                'channel': channel_id,
            }).then(res => {
				if (this.isSubscribe === true) {
					this.isSubscribe = false
				} else {
					this.isSubscribe = true
				}

				this.countSubscribe = res.data.countSubscribe

            }).catch(err => {
                console.log(err.response);
                this.$toasted.show(err.response.data.message ? err.response.data.message : err.response.data, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
				if (err.response.status === 401) {
					window.location = '/login'
				}
            })
		},
		getPlaylist(){
			axios.get(`/customer/api/playlist`)
            .then(res => {
				this.playlists = res.data
            });
		},
		addPlaylist(){
			axios.post(`/customer/playlist`, {
				'name' : this.name,
				'privacy_setting' : this.privacy,
                'video': this.video.data.id
            }).then(res => {
                this.$toasted.show("Video successfully add to playlist", { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'success',
				});
				this.hideModal()
				this.name = ''
				this.getPlaylist()
            }).catch(err => {
                console.log(err.response);
                this.$toasted.show(err.response.data.message ? err.response.data.message : err.response.data, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
				if (err.response.status === 401) {
					window.location = '/login'
				}
            })
		},
		addPlaylistVideo(playlist){
			axios.post(`/customer/playlist-video`, {
				'playlist' : playlist,
                'video': this.video.data.id
            }).then(res => {
                this.$toasted.show("Video successfully add to playlist", { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'success',
				});
				this.hideModal()
            }).catch(err => {
                console.log(err.response);
                this.$toasted.show(err.response.data.message ? err.response.data.message : err.response.data, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
				});
				this.hideModal()
				if (err.response.status === 401) {
					window.location = '/login'
				}
				
            })
		},
		sortBy(){
			if (this.sort == 'asc') {
				this.sort = 'desc'
			} else {
				this.sort = 'asc'
			}
			
			if (this.sort == 'desc') {
                return this.comments.sort(function(a, b) {
                    return b.id - a.id
                })
            } else if (this.sort == 'asc') {
                return this.comments.sort(function(a, b) {
                    return a.id - b.id
                })
            }
		}
    },
}
</script>
<style scoped>
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

pre {
 white-space: pre-wrap;       
 white-space: -moz-pre-wrap; 
 white-space: -pre-wrap;  
 white-space: -o-pre-wrap; 
 word-wrap: break-word; 
 color: #7e7e7e;
}
.hello > span {
  padding: 1em;
}
.share_scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

</style>
