<template>
    <div>
        <layout></layout>
        <loading :active.sync="isLoading" 
        :can-cancel="true" 
        :on-cancel="onCancel"
        :is-full-page="fullPage"
        loader="bars"
        background-color="rgb(75,75,75)"
        color="rgb(0,171,0)"></loading>
        <!-- <section class="banner-section p120">
            <div class="container">
                <div class="banner-text">
                    <h2>Register</h2>
                    <p>Please Register to have access to all videos and many more.</p>
                </div>
            </div>
        </section> -->

        <section class="form_popup">
            
            <div class="signup_form" id="signup_form">
                <div class="hd-lg">
                    <img src="images/logo.png" alt="">
                    <span>Register your Oren account</span>
                </div><!--hd-lg end-->
                <div class="user-account-pr">
                    <form>
                        <div class="input-sec mgb25">
                            <input type="text" placeholder="Username" v-model="name">
                            <label>Letters A-Z or a-z , Numbers 0-9 and Underscores _</label>
                            <label style="color:red" v-if="this.errors.name">{{this.errors.name[0]}}</label>
                        </div>
                        <div class="input-sec">
                            <input type="email" placeholder="Email address" v-model="email">
                            <label style="color:red" v-if="this.errors.email">{{this.errors.email[0]}}</label>
                        </div>
                        <div class="input-sec">
                            <input type="Password" placeholder="Password" v-model="password">
                            <label style="color:red" v-if="this.errors.password">{{this.errors.password[0]}}</label>
                        </div>
                        <div class="input-sec">
                            <input type="password" placeholder="Re-enter password" v-model="rePassword">
                        </div>
                        <div class="input-sec mb-0">
                            <button type="button" @click="signUp()">Signup</button>
                        </div><!--input-sec end-->
                    </form>

                    <a href="/authorize/facebook" class="btn btn-info btn-block" style="margin-top:20px"><img src="/images/icon/f_logo_RGB-Blue_72.png" alt="" width="20px"> Signup with Facebook</a>
                    <a href="/authorize/google" class="btn btn-danger btn-block" style="margin-top:20px"><img src="/images/icon/google_logo.png" alt="" width="20px"> Signup with Google</a>
                
                    <div class="form-text" style="margin-top:20px">
                        <p>By sIgning up you agree to Oren’s <a href="#" title="">Terms of Service</a> and <a href="#" title="">Privacy Policy</a> </p>
                    </div>
                </div><!--user-account end--->
                <div class="fr-ps">
                    <h1>Already have an account?<a href="/login" title="" class="show_signup"> Login here.</a></h1>
                </div><!--fr-ps end-->
            </div><!--login end--->

        </section><!--form_popup end-->

        <section class="more_items_sec br-top text-center">
            <div class="container">
                <a href="#" title="">
                    <svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1618 24.0001H0.838235C0.374412 24.0001 0 23.6261 0 23.1628V5.86052C0 5.39727 0.374412 5.02332 0.838235 5.02332H18.1618C18.6256 5.02332 19 5.39727 19 5.86052V23.1628C19 23.6261 18.6256 24.0001 18.1618 24.0001ZM1.67647 22.3256H17.3235V6.69773H1.67647V22.3256Z" fill="#9494A0"/>
                        <g opacity="0.25">
                        <path opacity="0.25" d="M13.1324 4.18605C12.6685 4.18605 12.2941 3.81209 12.2941 3.34884V1.67442H6.70589V3.34884C6.70589 3.81209 6.33148 4.18605 5.86765 4.18605C5.40383 4.18605 5.02942 3.81209 5.02942 3.34884V0.83721C5.02942 0.373954 5.40383 0 5.86765 0H13.1324C13.5962 0 13.9706 0.373954 13.9706 0.83721V3.34884C13.9706 3.81209 13.5962 4.18605 13.1324 4.18605Z" fill="#9494A0"/>
                        </g>
                        <path d="M9.50001 19.3479C9.28487 19.3479 9.06972 19.267 8.90766 19.1024L5.92634 16.1275C5.59942 15.801 5.59942 15.2707 5.92634 14.9442C6.25325 14.6177 6.78413 14.6177 7.11104 14.9442L9.50001 17.3275L11.8862 14.9442C12.2131 14.6177 12.744 14.6177 13.0709 14.9442C13.3978 15.2707 13.3978 15.801 13.0709 16.1275L10.0924 19.1024C9.93031 19.267 9.71516 19.3479 9.50001 19.3479Z" fill="#9494A0"/>
                        <path d="M9.49999 18.4186C9.03617 18.4186 8.66176 18.0447 8.66176 17.5814V10.3256C8.66176 9.86236 9.03617 9.4884 9.49999 9.4884C9.96382 9.4884 10.3382 9.86236 10.3382 10.3256V17.5814C10.3382 18.0447 9.96382 18.4186 9.49999 18.4186Z" fill="#9494A0"/>
                        <g opacity="0.5">
                        <path opacity="0.5" d="M15.6471 6.69764C15.1832 6.69764 14.8088 6.32369 14.8088 5.86043V4.18601H4.19118V5.86043C4.19118 6.32369 3.81677 6.69764 3.35294 6.69764C2.88912 6.69764 2.51471 6.32369 2.51471 5.86043V3.34881C2.51471 2.88555 2.88912 2.5116 3.35294 2.5116H15.6471C16.1109 2.5116 16.4853 2.88555 16.4853 3.34881V5.86043C16.4853 6.32369 16.1109 6.69764 15.6471 6.69764Z" fill="#9494A0"/>
                        </g>
                    </svg>
                </a>
            </div>
        </section><!--more_items_sec end-->		
    </div>
</template>
<script>
import Layout from '@/Shared/Layout'
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    components: {
      Layout, Loading
    },
    data() {
		return {
            email: '',
            password: '',
            rePassword: '',
            name: '',
            isLoading: false,
            fullPage: true,
            errors: {}
		}
    },
    metaInfo() {
        return {
            title: 'SerbaWebinar',
            titleTemplate: `Sign Up | SerbaWebinar`,
            htmlAttrs: {
                lang: 'en',
                amp: undefined
            },
            bodyAttrs: {
              tabIndex: 0
            },
            meta: [
              { charset: 'utf-8' },
              { name: 'Sign Up', content: `SerbaWebinar` },
              { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
            ]
        }     
    },
    mounted() {
    },
    methods: {
        reset(){
            this.name = ''
            this.email = ''
            this.password = ''
            this.rePassword = ''
        },
        onCancel() {
            console.log('User cancelled the loader.')
        },
        signUp(){
            this.isLoading = true;
            
            axios.post(`/register`, {
                'name': this.name,
                'email': this.email,
                'password': this.password,
                'password_confirmation': this.rePassword,
            }).then(res => {
                setTimeout(() => {
                    this.isLoading = false
                    this.reset()
                    this.$toasted.show("Successfully register User, check your email to activate account", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 5000,
                        type : 'success',
                    });
                },1500)
            }).catch(err => {
                if (err.response.data.errors) {
                    this.errors = err.response.data.errors
                }
                this.isLoading = false
                this.$toasted.show(err.response.data.message, { 
                    theme: "toasted-primary", 
                    position: "top-right", 
                    duration : 5000,
                    type : 'error',
                });
            })
            
        }
    }
}
</script>