<template>
<div>
    <layout></layout>

    <section class="mn-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mn-vid-sc single_video">
                        <div class="vid-1">
                            <div class="vid-pr" v-if="video.video_type === 'upload'">
                                <vue-core-video-player
                                    :src="video.video"
                                    :cover="video.thumbnail"
                                    :autoplay="false"
                                    :loop="false">
                                </vue-core-video-player>    
                            </div>
                            <div class="vid-pr" v-if="video.video_type === 'youtube'">
                                <iframe 
                                    width="420" 
                                    height="315"
                                    :src="`https://www.youtube.com/embed/${video.path}`">
                                </iframe>
                            </div>

                            <div class="vid-info">
                                <h3>{{ video.title }}</h3>
                                <div class="info-pr">
                                    <span>{{ video.views_count }} views</span>
                                    <ul class="pr_links">
                                        <li>
                                            <button data-toggle="tooltip" data-placement="top" title="I like this">
                                                <i class="icon-thumbs_up_fill"></i>
                                            </button>
                                            <span>388K</span>
                                        </li>
                                        <li>
                                            <button data-toggle="tooltip" data-placement="top" title="I dislike this">
                                                <i class="icon-thumbs_down_fill"></i>
                                            </button>
                                            <span>28K</span>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="abt-mk">
                            <div class="info-pr-sec">
                                <div class="vcp_inf cr">
                                    <div class="vc_hd">
                                        <img :src="this.avatar_user" alt="">
                                    </div>
                                    <div class="vc_info pr">
                                        <h4><a href="#" title="">{{ this.channel }}</a></h4>
                                        <span>Published on {{ moment(video.created_at).fromNow() }}</span>
                                    </div>
                                </div>                           
                                <ul class="chan_cantrz">
                                    <li>
                                        <a href="#" title="" class="subscribe">Subscribe <strong>13M</strong></a>
                                    </li>
                                </ul>
                                <ul class="df-list">
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="about-ch-sec">
                                <div class="abt-rw">
                                    <h4>About : </h4>
                                    <pre v-html="urlify(this.video.about)"></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer-page></footer-page>
</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import Sidebar from '@/Shared/Sidebar'
import FooterPage from '@/Shared/FooterPage.vue'
import moment from 'moment'

export default {
    components: {
      Layout, Sidebar, FooterPage
    },
    props:{
        video: Object,
        channel: String,
        avatar_user: String
    },

    methods: {
        moment,
    },
    metaInfo() {
        return {
            title: 'SerbaWebinar',
            titleTemplate: `${this.video.title} | SerbaWebinar`,
            htmlAttrs: {
                lang: 'en',
                amp: undefined
            },
            bodyAttrs: {
              tabIndex: 0
            },
            meta: [
              { charset: 'utf-8' },
              { name: 'watch video', content: `${this.video.title}` },
              { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
            ]
        }
            
    },
    urlify(text) {
          var urlRegex = /(https?:\/\/[^\s]+)/g;
          return text.replace(urlRegex, function(url) {
            return '<a href="' + url + '" style="color:#065FD4;">' + url + '</a>';
          })
        },

    mounted() {
    //    console.log(this.video)
    }
}
</script>