<template>
<div>
    <layout></layout>
    <section 
    	class="banner-section"
    	v-if="banners_app != null" 
    	:style="{
				'background-image': 'url(' + banners_app.image + ')', 
				'background-repeat': 'no-repeat',
				'background-fit': 'scale-down',
				'background-position': 'center'
			}">
		<div class="container">
			<div class="banner-text">
				<h2>{{ banners_app.name }}</h2>
				<a :href="banners_app.url" title="">Show Detail</a>
			</div>
		</div>
	</section>

	<section class="vds-main">
		<div class="vidz-row">
			<div class="container">
				<div class="vidz_sec">
					<h3>Updates from Subscriptions</h3>
					<a href="#" title="" class="view-btn">View all</a>
					<div class="vidz_list">
						<div class="row">
							<div v-for="(video, key) in videos_subscribtions" :key="key" class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vcp_inf">
										<div class="vc_hd">
											<img :src="video.avatar_user" alt="">
										</div>
										<div class="vc_info">
											<h4><a href="" title="">{{video.channel}}</a></h4>
										</div>
										<span class="vc-count">{{video.countSubscribe}}</span>
									</div>
									<div class="vid_thumbainl">
										<a :href="video.url_video" title="">
											<img :src="video.thumbnail" alt="" style="max-height: 197px;">
											<span class="vid-time">
												{{ video.duration }}
											</span>	
										</a>	
									</div>
									<div class="video_info">
										<h3><a :href="video.url_video" title="">{{video.title}}</a></h3>
										<h4><a :href="video.url_video" title="">{{video.channel}}</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>{{video.views_count}} views .<small class="posted_dt">{{ moment(video.created_at).fromNow() }}</small></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="vidz-row">
			<div class="container">
				<div class="vidz_sec">
					<h3>New Videos</h3>
					<div class="vidz_list">
						<div class="row">
							<div v-for="(video, key) in lates_videos" :key="key" class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a :href="video.url_video" title="">
											<img :src="video.thumbnail" alt="" style="max-height: 197px;">
											<span class="vid-time">
												{{ video.duration }}
											</span>	
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div>
									<div class="video_info">
										<h3><a :href="video.url_video" title="">{{video.title}}</a></h3>
										<h4><a :href="video.url_video" title="">{{video.channel}}</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>{{video.views_count}} views .<small class="posted_dt">{{ moment(video.created_at).fromNow() }}</small></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="vidz-row">
			<div class="container">
				<div class="vidz_sec">
					<h3>Popular Videos</h3>
					<div class="vidz_list">
						<div class="row">
							<div v-for="(video, key) in populars_videos" :key="key" class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a :href="video.url_video" title="">
											<img :src="video.thumbnail" alt="" style="max-height: 197px;">
											<span class="vid-time">
												{{ video.duration }}
											</span>	
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div>
									<div class="video_info">
										<h3><a :href="video.url_video" title="">{{video.title}}</a></h3>
										<h4><a :href="video.url_video" title="">{{video.channel}}</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>{{video.views_count}} views .<small class="posted_dt">{{ moment(video.created_at).fromNow() }}</small></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="vidz-row pop_channels">
			<div class="container">
				<div class="vidz_sec">
					<h3>Popular Channels</h3>
					<div class="vidz_list">
						<div class="row">
							<div v-for="(channel, key) in channel_populars" :key="key" class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a :href="channel.url" title="">
											<img :src="channel.cover" alt="" style="min-height: 130px;">
										</a>	
									</div>
									<div class="video_info">
										<h3><a :href="channel.url" title="">{{channel.name}}</a></h3>
										<span>{{channel.countFollowers}} Followers</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="more_items_sec text-center">
		<div class="container">
			<a href="#" title="">
				<svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.1618 24.0001H0.838235C0.374412 24.0001 0 23.6261 0 23.1628V5.86052C0 5.39727 0.374412 5.02332 0.838235 5.02332H18.1618C18.6256 5.02332 19 5.39727 19 5.86052V23.1628C19 23.6261 18.6256 24.0001 18.1618 24.0001ZM1.67647 22.3256H17.3235V6.69773H1.67647V22.3256Z" fill="#9494A0"/>
					<g opacity="0.25">
					<path opacity="0.25" d="M13.1324 4.18605C12.6685 4.18605 12.2941 3.81209 12.2941 3.34884V1.67442H6.70589V3.34884C6.70589 3.81209 6.33148 4.18605 5.86765 4.18605C5.40383 4.18605 5.02942 3.81209 5.02942 3.34884V0.83721C5.02942 0.373954 5.40383 0 5.86765 0H13.1324C13.5962 0 13.9706 0.373954 13.9706 0.83721V3.34884C13.9706 3.81209 13.5962 4.18605 13.1324 4.18605Z" fill="#9494A0"/>
					</g>
					<path d="M9.50001 19.3479C9.28487 19.3479 9.06972 19.267 8.90766 19.1024L5.92634 16.1275C5.59942 15.801 5.59942 15.2707 5.92634 14.9442C6.25325 14.6177 6.78413 14.6177 7.11104 14.9442L9.50001 17.3275L11.8862 14.9442C12.2131 14.6177 12.744 14.6177 13.0709 14.9442C13.3978 15.2707 13.3978 15.801 13.0709 16.1275L10.0924 19.1024C9.93031 19.267 9.71516 19.3479 9.50001 19.3479Z" fill="#9494A0"/>
					<path d="M9.49999 18.4186C9.03617 18.4186 8.66176 18.0447 8.66176 17.5814V10.3256C8.66176 9.86236 9.03617 9.4884 9.49999 9.4884C9.96382 9.4884 10.3382 9.86236 10.3382 10.3256V17.5814C10.3382 18.0447 9.96382 18.4186 9.49999 18.4186Z" fill="#9494A0"/>
					<g opacity="0.5">
					<path opacity="0.5" d="M15.6471 6.69764C15.1832 6.69764 14.8088 6.32369 14.8088 5.86043V4.18601H4.19118V5.86043C4.19118 6.32369 3.81677 6.69764 3.35294 6.69764C2.88912 6.69764 2.51471 6.32369 2.51471 5.86043V3.34881C2.51471 2.88555 2.88912 2.5116 3.35294 2.5116H15.6471C16.1109 2.5116 16.4853 2.88555 16.4853 3.34881V5.86043C16.4853 6.32369 16.1109 6.69764 15.6471 6.69764Z" fill="#9494A0"/>
					</g>
				</svg>
			</a>
		</div>
	</section>
    <footer-page></footer-page>

</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FooterPage from '@/Shared/FooterPage.vue'
import moment from 'moment'
import carousel from 'vue-owl-carousel';

export default {
    components: {
      Layout, FooterPage, carousel
	},
	props: {
		new_videos: Object,
		popular_videos: Object,
		video_subscribtions: Object,
		channels: Object,
		banners: Object,
	},
	data() {
		return {
            lates_videos: this.new_videos.data,
			populars_videos: this.popular_videos.data,
			videos_subscribtions: this.video_subscribtions.data,
            channel_populars: this.channels.data,
            banners_app : this.banners.data[0]
		}
	},
	metaInfo() {
		return {
			title: 'SerbaWebinar',
	    	titleTemplate: 'Welcome | SerbaWebinar',
	        htmlAttrs: {
	            lang: 'en',
	            amp: undefined
	        },
	        bodyAttrs: {
	          tabIndex: 0
	        },
	        meta: [
	          { charset: 'utf-8' },
	          { name: 'watch', content: 'serbawebinar' },
	          { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }
	        ]
		}
	        
    },
    mounted() {
	},
	methods: {
        moment,
    },
}
</script>
