<template>
	<div>
		<layout></layout>
		<div class="container">
			<div class="row mt-5">
				<div class="col-lg-12 text-center">
					<h1>Serbawebinar adalah website yang berisikan kumpulan webinar dengan misi</h1>
					<h1 style="color: #ABCD22">Menjadi tempat informasi dari berbagai webinar yang ada, serta menjadi saran promosi.</h1>
				</div>
			</div>

			<div class="row mt-5">
				<div class="col-lg-3 text-center">
					<h1 class="display-3" style="color: #ABCD22">500 rb</h1>
					<h5 class="mt-2">Channel</h5>
				</div>
				<div class="col-lg-3 text-center">
					<h1 class="display-3" style="color: #ABCD22">1 + jt</h1>
					<h5 class="mt-2">Pengguna</h5>
				</div>
				<div class="col-lg-3 text-center">
					<h1 class="display-3" style="color: #ABCD22">50 rb</h1>
					<h5 class="mt-2">Kategori</h5>
				</div>
				<div class="col-lg-3 text-center">
					<h1 class="display-3" style="color: #ABCD22">27</h1>
					<h5 class="mt-2">Media Partner</h5>
				</div>
			</div>
		</div>
		
		<footer-page></footer-page>
	</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FooterPage from '@/Shared/FooterPage.vue'

export default {
    components: {
      Layout, FooterPage
	},
}

</script>