<template>
	<div>
		<layout></layout>
		<div class="container">
			<div class="row mt-5">
				 <div class="hd-lg">
                    <img src="images/logo.png" alt="">
                </div>
				<div class="col-lg-12">
					<p>Misi kami adalah menjadi tempat informasi dari berbagai webinar yang ada, serta menjadi sarana promosi.
					Serta Webinar adalah layanan streaming webinar dari berbagai macam kategori.
					Di masa pandemi COVID-19, Webinar mulai hadir untuk menggantikan Seminar yang sangat sulit untuk bisa dilaksanakan secara langsung.</p>
					<p>Maraknya trend Webinar di tahun 2019 bahkan sampai saat ini, Serbawebinar hadir untuk menjadikan Direktori webinar diseluruh Indonesia agar mempermudah masyarakat dalam mencari webinar yang diinginkan.</p>
				</div>
			</div>
		</div>
		
		<footer-page></footer-page>
	</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FooterPage from '@/Shared/FooterPage.vue'

export default {
    components: {
      Layout, FooterPage
	},
}

</script>