<template>
	<div>
		<layout></layout>
		<div class="container">
			<div class="row mt-5">
				<div class="col-lg-12 text-center">
					<h3>Ikuti Kami</h3>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-lg-12 text-center">
					<img src="images/youtube.png" width="50" height="50">
					<img src="images/twitter.png" width="50" height="50">
					<img src="images/facebook.png" width="50" height="50">
					<img src="images/instagram.png" width="50" height="50">
				</div>
			</div>
			
		</div>
		<footer-page></footer-page>
	</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FooterPage from '@/Shared/FooterPage.vue'

export default {
    components: {
      Layout, FooterPage
	},
}

</script>