<template>
	<div>
		<layout></layout>
		<div class="container">
			<div class="row mt-5">
				<div class="col-lg-12">
					<h3>Hubungi Kami</h3>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<div class="media">
								<img class="mr-3" src="images/email.png" width="35px" height="50" />
								<div class="media-body">
									<h3>Email</h3>
									<p>Tulis pertanyaanmu sekarang!</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<div class="media">
								<img class="mr-3" src="images/whatsapp.png" width="35px" height="50" />
								<div class="media-body">
									<h3>Whatsapp</h3>
									<p>Hubungi +62 818-0306-1971</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-lg-12 text-center">
					<span class="">
						Layanan pelanggan 24 jam, senin s/d minggu, termasuk hari libur nasional.
					</span>
				</div>
			</div>
			
		</div>
		<footer-page></footer-page>
	</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FooterPage from '@/Shared/FooterPage.vue'

export default {
    components: {
      Layout, FooterPage
	},
}

</script>