<template>
    <div>
        <footer style="margin-top:30px">
			<div class="container">
				<div class="top-footer">
					<div class="row">
						<div class="col-lg-12">
							<div class="ft-logo">
								<img :src="this.$page.props.logo" alt="" width="70" height="21">
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6 col-12">
							<div class="widget">
								<a :href="route('footer.about.index')">
									<h3 class="widget-title">About</h3>	
								</a>
								
								<!-- <ul class="pages-link">
									<li><a href="#" title="">About</a></li>
									<li><a href="#" title="">Community Rules</a></li>
									<li><a href="#" title="">Privacy</a></li>
									<li><a href="#" title="">Terms</a></li>
								</ul> -->
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6 col-12">
							<div class="widget">
								<a :href="route('footer.about-use.index')">
									<h3 class="widget-title">About Us</h3>	
								</a>
								
								<!-- <ul class="pages-link">
									<li><a href="#" title="">Blog</a></li>
									<li><a href="#" title="">Contact</a></li>
									<li><a href="#" title="">Donate</a></li>
								</ul> -->
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6 col-12">
							<div class="widget">
								<a :href="route('footer.media-sosial.index')">
									<h3 class="widget-title">Sosial Media</h3>	
								</a>
								
								<!-- <ul class="pages-link">
									<li><a href="#" title="">Support</a></li>
									<li><a href="#" title="">FAQ</a></li>
								</ul> -->
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-6 col-12">
							<div class="widget widget-information">
								<a :href="route('footer.pusat-bantuan.index')">
									<h3 class="widget-title">Pusat Bantuan</h3>	
								</a>
								
								<!-- <p>Oren is a video sharing platform created for the discovery & promotion of content creators. It's home to breaking news in social media, & urban cultural entertainment.</p> -->
							</div>
						</div>
					</div>
				</div>
				<div class="bottom-strip">
					<p>© videoApp</p>
					<!-- <ul class="social-links">
						<li><a href="#" title=""><i class="icon-facebook-official"></i></a></li>
						<li><a href="#" title=""><i class="icon-twitter"></i></a></li>
						<li><a href="#" title=""><i class="icon-instagram"></i></a></li>
					</ul> -->
					<div class="clearfix"></div>
				</div>
			</div>
		</footer>
    </div>
</template>
<script>
export default {
    
}
</script>