<template>
  <div>
	<loading :active.sync="isLoading" 
	:can-cancel="true" 
	:on-cancel="onCancel"
	:is-full-page="fullPage"
	loader="bars"
	background-color="rgb(75,75,75)"
	color="rgb(0,171,0)"></loading>
    <header>
			<div class="top_bar">
				<div class="container">
					<div class="top_header_content">
						<div class="menu_logo">
							<a href="#" title="" class="menu" v-if="this.$page.props.loggedIn === true">
								<i class="icon-menu"></i>
							</a>
							<a href="/" title="" class="logo">
								<img :src="this.$page.props.logo" alt="" width="70" height="21">
							</a>
						</div>
						<div class="search_form">
							<form>
								<input 
									type="text" 
									placeholder="Search Videos, Channel" 
									v-model="search"
									v-on:keydown.enter.prevent='searchVideo()'>
								<button type="button" @click="searchVideo()">
									<i class="icon-search"></i>
								</button>
							</form>
						</div>
						<ul class="controls-lv" style="margin-top: -14px;" v-if="this.$page.props.loggedIn === false">
							<li>
								<inertia-link href="/login" class="btn-default">Sign In</inertia-link>
							</li>
							<li>
								<inertia-link href="/register" class="btn-default">Sign Up</inertia-link>
							</li>
						</ul>
						<ul class="controls-lv" v-else>							
							<li class="nav-item dropdown">
								<a 
								href="#" 
								id="navbarDropdown" 
								class="nav-link dropdown-toggle font-weight-bold" 
								role="button"
								data-toggle="dropdown"
								aria-haspopup="true" arai-expanded="false">
									<i class="icon-notification"></i>
									<span class="badge badge-success" v-if="this.notif.length > 0">
										{{ this.notif.length }}
									</span>
									<span class="caret"></span>
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
									
									<div v-if="this.notif.length > 0">
										<div class="dropdown-item">
											<span class="font-weight-bold">Notifikasi
												({{ this.notif.length }})
											</span>
										</div>
										<div class="dropdown-item" v-for="(data, key) in this.notif" :key="key">
											<a @click="redirectUrl(data)" style="cursor:pointer">
												<span class="font-weight-bold mr-sm-2" style="font-weight: 200;font-size: 14px;">{{ data.data.notif_message.slice(0, 35) + (data.data.notif_message.length > 35 ? '...' : '') }}</span>
												<small style="font-size:10px">{{ data.created_at }}</small>
											</a>
										</div>
										<div class="dropdown-divider"></div>
										<div class="dropdown-item">
											<a href="javascript:;" @click.prevent="markReadAll()" style="font-size:12px;color:white" class="btn btn-success btn-block">Mark Read All Notif</a>
										</div>
									</div>

									<div v-else>
										<div class="dropdown-item">
											<span class="font-weight-bold mr-sm-2">Belum ada Notifikasi</span>
										</div>
									</div>
								</div>
							</li>
							<li class="user-log">

								<div class="user-ac-img" v-if="this.$page.props.avatar">
									<img :src="this.$page.props.avatar" alt="" width="45" height="45">
								</div>
								<div class="user-ac-img" v-else>
									<avatar 
										:username="this.$page.props.username"
										:src="this.$page.props.avatar"
										:size="45"></avatar>
								</div>

								<div class="account-menu">
									<h4>
										{{this.$page.props.username}} 
										<!-- <span class="usr-status">PRO</span> -->
									</h4>
									<div class="sd_menu">
										<ul class="mm_menu">
											<li>
												<span>
													<i class="icon-user"></i>
												</span>
												<a href="/customer" title="">My Account</a>
											</li>
											<li>
												<span>
													<i class="icon-user"></i>
												</span>
												<a href="/customer/channel" title="">My Channel</a>
											</li>
											<!-- <li>
												<span>
													<i class="icon-subscriptions"></i>
												</span>
												<a href="#" title="">Subscriptions</a>
											</li>
											<li>
												<span>
													<i class="icon-settings"></i>
												</span>
												<a href="#" title="">Settings</a>
											</li> -->
											
										</ul>
									</div>
									<div class="restricted-mode" style="padding-right: 30px;padding-left: 30px;">
										<ul class="mm_menu">
											<li>
												<span>
													<i class="icon-logout"></i>
												</span>
												<a href="#" title="" @click="logOut()">Sign out</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<a href="/customer/video" title="" class="btn-default">Upload</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="btm_bar">
				<div class="container">
					<div class="btm_bar_content">
						<nav>
							<ul>
								<!-- <li><a href="#" title="">Pages</a>
									<div class="mega-menu">
										<ul>
											<li><a href="/customer" title="">Homepage</a></li>
											<li><a href="" title="">Updates from subscription page</a></li>
											<li><a href="/login" title="">login page</a></li>
											<li><a href="/register" title="">signup page</a></li>
											<li><a href="/customer" title="">User account page</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</li>
								<li><a href="#" title="">Categories</a>
									<div class="mega-menu">
										<ul>
											<li v-for="(category, key) in categories" :key="key">
												<a :href="category.url" title="">{{category.name}}</a>
											</li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</li>
								</li> -->
								<li><a href="/category" title="">Categories</a></li>
								<!-- <li><a href="" title="">Channels</a></li> -->
								<!-- <li><a href="#" title="">Trending</a></li>
								<li><a href="Single_Channel_Home.html" title="">LIVE</a></li>
								<li><a href="#" title="">Movies</a></li> -->
							</ul>
						</nav>
						<!-- <ul class="shr_links">
							<li>
								<h3>Go to : </h3>
							</li>
							<li>
								<button data-toggle="tooltip" data-placement="top" title="Like">
								  <i class="icon-like"></i>
								</button>
							</li>
							<li>
								<button data-toggle="tooltip" data-placement="top" title="Watch later">
								  <i class="icon-watch_later"></i>
								</button>
							</li>
							<li>
								<button data-toggle="tooltip" data-placement="top" title="Playlist">
								  <i class="icon-playlist"></i>
								</button>
							</li>
							<li>
								<button data-toggle="tooltip" data-placement="top" title="Purchased">
								  <i class="icon-purchased"></i>
								</button>
							</li>
							<li>
								<button data-toggle="tooltip" data-placement="top" title="History">
								  <i class="icon-history"></i>
								</button>
							</li>
						</ul> -->
						<!-- <ul class="vid_thums">
							<li>
								<a class="active" href="#" title=""><i class="icon-grid"></i></a>
							</li>
							<li>
								<a href="#" title="">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										 viewBox="0 0 108 108" xml:space="preserve">
										<rect width="63" height="45"/>
										<rect x="81" width="27" height="45"/>
										<rect x="45" y="63" width="63" height="45"/>
										<rect y="63" width="27" height="45"/>
									</svg>
								</a>
							</li>
						</ul> -->
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</header>

		<div class="side_menu">
			<div class="form_dvv">
				<a href="#" title="" class="login_form_show">Sign in</a>
			</div>
			<div class="sd_menu">
				<ul class="mm_menu">
					<li>
						<span>
							<i class="icon-home"></i>
						</span>
						<a href="/customer" title="">Home</a>
					</li>
					<li>
						<span>
							<i class="icon-add_to_playlist"></i>
						</span>
						<a href="/customer/playlist" title="">Playlists</a>
					</li>
					<!-- <li>
						<span>
							<i class="icon-subscriptions"></i>
						</span>
						<a href="#" title="">Subscriptions</a>
					</li> -->
				</ul>
			</div>
			<div class="sd_menu">
				<h3>Library</h3>
				<ul class="mm_menu">
					<li>
						<span>
							<i class="icon-user"></i>
						</span>
						<a href="/customer/channel" title="">My Channel</a>
					</li>
					<!-- <li>
						<span>
							<i class="icon-watch_later"></i>
						</span>
						<a href="#" title="">Watch Later</a>
					</li>
					<li>
						<span>
							<i class="icon-purchased"></i>
						</span>
						<a href="#" title="">Purchases</a>
					</li>
					<li>
						<span>
							<i class="icon-like"></i>
						</span>
						<a href="#" title="">Liked Videos</a>
					</li>
					<li>
						<span>
							<i class="icon-play_list"></i>
						</span>
						<a href="#" title="">Playlist</a>
					</li> -->
				</ul>
			</div>
			<!-- <div class="sd_menu subs_lst">
				<h3>Subscriptions</h3>
				<ul class="mm_menu">
					<li>
						<span class="usr_name">
							<img src="images/resources/th1.png" alt="">
						</span>
						<a href="#" title="">Dr Disrespect</a>
						<small>3</small>
					</li>
					<li>
						<span class="usr_name">
							<img src="images/resources/th2.png" alt="">
						</span>
						<a href="#" title="">ASMR</a>
						<small>6</small>
					</li>
					<li>
						<span class="usr_name">
							<img src="images/resources/th3.png" alt="">
						</span>
						<a href="#" title="">Rivvrs</a>
						<small>2</small>
					</li>
					<li>
						<span class="usr_name">
							<img src="images/resources/th4.png" alt="">
						</span>
						<a href="#" title="">The Verge</a>
						<small>11</small>
					</li>
					<li>
						<span class="usr_name">
							<img src="images/resources/th5.png" alt="">
						</span>
						<a href="#" title="">Seeker</a>
						<small>3</small>
					</li>
					<li>
						<span class="usr_name">
							<img src="images/resources/sn.png" alt="">
						</span>
						<a href="#" title="">Music</a>
						<small>20</small>
					</li>
				</ul>
				<a href="#" title="" class="more-ch"><i class="icon-arrow_below"></i> Show 14 more</a>
			</div> -->
			<div class="sd_menu" v-if="this.$page.props.loggedIn">
				<ul class="mm_menu">
					<!-- <li>
						<span>
							<i class="icon-settings"></i>
						</span>
						<a href="#" title="">Settings</a>
					</li>
					<li>
						<span>
							<i class="icon-flag"></i>
						</span>
						<a href="#" title="">Report history</a>
					</li> -->
					<li>
						<span>
							<i class="icon-logout"></i>
						</span>
						<a title="" @click="logOut()">Sign out</a>
					</li>
				</ul>
			</div>
			<!-- <div class="sd_menu m_linkz">
				<ul class="mm_menu">
					<li><a href="#">About</a></li>
					<li><a href="#">Community Rules </a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Blogs</a></li>
					<li><a href="#">Contracts </a></li>
					<li><a href="#">Donate</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
				<span>azyrusthemes</span>
			</div> -->
			<div class="sd_menu bb-0">
				<ul class="social_links">
					<li>
						<a href="#" title="">
							<i class="icon-facebook-official"></i>
						</a>
					</li>
					<li>
						<a href="#" title="">
							<i class="icon-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="">
							<i class="icon-instagram"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="dd_menu"></div>
		</div>
  </div>
</template>
<script>
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';
import Avatar from 'vue-avatar';

export default {
	components: {
      Loading,
      Avatar
    },
	data() {
		return {
            email: '',
            password: '',
            rePassword: '',
            name: '',
            search: '',
            isLoading: false,
            fullPage: true,
			notif: [],
			categories: []
		}
    },
    mounted() {
		this.$store.dispatch("getCheckAuth")
		this.getNotifContent()
	},
	methods: {
		redirectUrl(data){
			axios.get(`/customer/notifications/${data.id}`).then(res => {
				this.getNotifContent()
				if (data.data.notif_url) {
					window.location = data.data.notif_url
				}
			})
		},
		onCancel() {
            console.log('User cancelled the loader.')
        },
		logOut(){
            this.isLoading = true;
			setTimeout(() => {
				this.$inertia.post('/customer/logout')
	            this.isLoading = false;
			},1500)
		},

		searchVideo(){
			this.isLoading = true;
			
            if (this.search == '') {
                this.isLoading = false

                return  this.$toasted.show('Please input keyword', { 
                            theme: "toasted-primary", 
                            position: "top-right", 
                            duration : 5000,
                            type : 'error',
                        });
            }
            
            this.$inertia.get('/search', { 'video' : this.search }, { replace: true })
		},

		getNotifContent(){
			axios.get('/customer/notifications').then(x => {
				this.notif = x.data
				// console.log(this.notif);
			})
		},
		markRead(data){
			axios.get(`/customer/notifications/${data.id}`).then(res => {
				this.getNotifContent()
			})
		},
		markReadAll() {
			axios.get('/customer/notifications/mark-read-all').then(res => {
				this.getNotifContent()
			})
		},
	}
}
</script>