<template>
  <div>
	<loading :active.sync="isLoading" 
	:can-cancel="true" 
	:on-cancel="onCancel"
	:is-full-page="fullPage"
	loader="bars"
	background-color="rgb(75,75,75)"
	color="rgb(0,171,0)"></loading>
    <div class="sidebar">
        <div class="widget video_info pr sp">
            <span class="vc_hd">
                <img :src="imgAvatar ? imgAvatar : this.$page.props.user_avatar" alt="" style="cursor:pointer" @click="openModal()">
            </span>
            
            <h4>{{this.$page.props.username}}</h4>
            <p>since: {{this.$page.props.created_at}} </p>
            <span>Last Login: {{this.$page.props.last_login_at}}</span>
        </div>
        <div class="widget account">
            <h2 class="hd-uc"> <i class="icon-user"></i> Account</h2>
            <ul>
                <li><a href="/customer/password">Change Password</a></li>
                <!-- <li><a href="#">Change Email</a></li>
                <li><a href="#">Manage Subscriptions </a></li> -->
            </ul>
        </div>
        <div class="widget playlist">
            <h2 class="hd-uc"><i class="icon-add_to_playlist"></i>Playlists  </h2>
            <span><a href="/customer/playlist"> Manage Playlists</a></span>
        </div><!--playlist end-->
        <!-- <div class="widget notifications">
            <h2 class="hd-uc"><i class="icon-notification"></i>Notifications</h2>
            <a href="#" title="">Manage Notifications</a>
        </div>
        <div class="widget chanel-pro">
            <h2 class="hd-uc"><i class="icon-preferences"></i>Channel and Profile  </h2>
                <ul>
                <li><a href="#"> Account Settings</a></li>
                <li><a href="#"> Profile Settings </a></li>
                <li><a href="#"> Change Avatar</a></li>
            </ul>
        </div>
        <div class="widget vid-ac">
            <h2 class="hd-uc"><i class="icon-play"></i>Videos </h2>
                <ul>
                <li><a href="#">Uploaded Videos </a></li>
                <li><a href="#"> Favorite Videos </a></li>
            </ul>
        </div>
        <div class="widget playlist">
            <h2 class="hd-uc"><i class="icon-add_to_playlist"></i>Playlists  </h2>
            <span><a href="#"> Manage Playlists</a></span>
        </div>
        <div class="widget messages">
            <h2 class="hd-uc"><i class="icon-message"></i> Messages</h2>
            <ul>
                <li><a href="#">New Message</a></li>
                <li><a href="#"> Inbox (10)</a></li>
                <li><a href="#"> Sent</a></li>
            </ul>
        </div>
        <div class="widget contacts">
            <h2 class="hd-uc"><i class="icon-group"></i>Contacts</h2>
            <ul>
                <li><a href="#" title=""> Manage Contacts</a></li>
                <li><a href="#" title="">Add Contact </a></li>
            </ul>
        </div> -->
        
        <div class="modal fade" id="modalFloatAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Gambar Profil</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div v-if="imgSrc" style="width: auto; height:500px; border: 1px solid gray; display: inline-block;">
                            <vue-cropper
                                ref='cropper'
                                :guides="true"
                                :view-mode="2"
                                drag-mode="crop"
                                :auto-crop-area="0.5"
                                :min-container-width="250"
                                :min-container-height="180"
                                :background="true"
                                :rotatable="true"
                                :src="imgSrc"
                                :aspectRatio= "1/1"
                                :img-style="{ 'width': 'auto', 'height': '500px' }">
                            </vue-cropper>
                        </div>

                        <div v-else>
                            <input type="file" name="image" id="image" @change="setImage" class="form-control" accept="image/*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="file" name="image" id="file" accept="image/*" @change="setImage" style="width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;"/>

                        <label for="file" class="btn btn-primary" v-if="imgSrc"><i class="fal fa-image"></i> Ganti Gambar</label>
                        <button type="button" class="btn btn-success" v-if="imgSrc" @click="cropImage()"><i class="fa fa-cut" aria-hidden="true"></i> Simpan</button>
                        <button type="button" class="btn btn-secondary" @click="hideModal()"><i class="fa fa-times" aria-hidden="true"></i> Tutup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
// Import component
import Loading from 'vue-loading-overlay';
import VueCropper from 'vue-cropperjs'
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';
import 'cropperjs/dist/cropper.css'

export default {
	components: {
      Loading, VueCropper
    },
	data() {
		return {
            isLoading: false,
            fullPage: true,
            imgSrc: '',
			imgAvatar: '',
			cropImg: '',
		}
    },
    mounted() {
        this.pullAvatar()
	},
	methods: {
		onCancel() {
            console.log('User cancelled the loader.')
        },
        openModal(){
            $('#modalFloatAvatar').modal('show')
        },
        hideModal(){
            $('#modalFloatAvatar').modal('hide')
        },
        reset() {
            this.imgSrc = ''
            this.pullAvatar()
            this.hideModal()
		},
		setImage(e) {
			this.reset()
			const file = e.target.files[0]
			if (!file.type.includes('image/')) {
				alert('Please select an image file');
				return;
			}
			if (typeof FileReader === 'function') {
				const reader = new FileReader()
				reader.onload = (event) => {
					this.imgSrc = event.target.result
				};
				reader.readAsDataURL(file)
			} else {
				alert('Sorry, FileReader API not supported')
			}
		},
		storeImage(){
			this.isLoading = true;
			setTimeout(() => {
				axios.post('/customer/avatar', {
					'origin': this.imgSrc,
					'thumbnail': this.cropImg
				})
				.then(res => {
					this.isLoading = false
					this.reset()
				})
				.catch(err => {
					console.log(err)
				})
			},1000)
		},
		cropImage() {
			this.imgAvatar = ''
			this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL()
			this.showModal = false
			return this.storeImage()
        }, 
        pullAvatar(){
            axios.get('/customer/api/avatar').then(res => {
                this.imgAvatar  = res.data.path
            })
        }
	}
}
</script>