<template>
	<div>
		<layout></layout>
		<section class="browse_categories_sec">
			<div class="container">
				<div class="browse_categories" style="border-bottom:none;">
					<div class="row" v-if="categoryVideo.length > 0">
						<div 
							class="col-lg-2 col-md-4 col-sm-4 col-6 full_wdth"
							v-for="category in categoryVideo">
							<div class="br-channel">
								<div class="br-channel-img">
									<a :href="category.url" title="">
										<img :src="category.image" alt="">
									</a>
								</div>
								<div class="br-info">
									<h3><a :href="category.url" title="">{{ category.name }}</a></h3>
									<span>{{ category.count_videos }} Videos</span>
								</div>
							</div>
						</div>
					</div>
					<div v-else class="row text-center">
							<div class="col-lg-12">
								<span class="text-muted">Video Tidak ada</span>	
							</div>
							
					</div>

					<div v-if="totalItems > minItems">
					<div class="d-flex justify-content-center mt-3">
						<inertia-link 
							:href="categories.links.prev" 
							role="button" 
							class="btn mr-2"
							:class="categories.links.prev != null ? 'btn-primary' : 'btn-secondary disabled'"
						>
							Previous
						</inertia-link>
						<inertia-link 
							:href="categories.links.next" 
							role="button" 
							class="btn"
							:class="categories.links.next != null ? 'btn-primary' : 'btn-secondary disabled'"
						>
							Next
						</inertia-link>	
					</div>	
				</div>
				</div>
			</div>
		</section>
		
		<footer-page></footer-page>
	</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FooterPage from '@/Shared/FooterPage.vue'

export default {
    components: {
      Layout, FooterPage
	},

	props: {
		categories: Object
	},

	data() {
		return {
			categoryVideo : this.categories.data,
			minItems:this.categories.meta.per_page,
			totalItems:this.categories.meta.total,
		}
	},

	mounted() {
		console.log(this.categoryVideo)
	}
}

</script>

<style type="scoped">
	.disabled {
	  cursor: not-allowed;
	}
</style>