<template>
	<div>
		<layout></layout>
		<div class="vidz-row">
			<div class="container">
				<div class="vidz_sec" style="border-bottom:none;">
					<h3>{{ categoryVideo.name }}</h3>
					<div class="vidz_list">
						<div class="row" v-if="dataVideos.length > 0">
							<div v-for="(video, key) in dataVideos" :key="key" class="col-lg-3 col-md-6 col-sm-6 col-6 full_wdth">
								<div class="videoo">
									<div class="vid_thumbainl">
										<a :href="video.url_video" title="">
											<img :src="video.thumbnail" alt="" style="max-height: 197px;">
											<span class="vid-time">
												{{ video.duration }}
											</span>	
											<span class="watch_later">
												<i class="icon-watch_later_fill"></i>
											</span>
										</a>	
									</div>
									<div class="video_info">
										<h3><a :href="video.url_video" title="">{{video.title}}</a></h3>
										<h4><a :href="video.url_video" title="">{{video.channel}}</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
										<span>{{video.views_count}} views .<small class="posted_dt">{{ moment(video.created_at).fromNow() }}</small></span>
									</div>
								</div>
							</div>
						</div>
						<div v-else class="row text-center">
							<div class="col-lg-12">
								<span class="text-muted">Video Tidak ada</span>	
							</div>
							
						</div>
					</div>
				</div>

				
				<div v-if="totalItems > minItems">
					<div class="d-flex justify-content-center mt-3">
						<inertia-link 
							:href="videos.links.prev" 
							role="button" 
							class="btn mr-2"
							:class="videos.links.prev != null ? 'btn-primary' : 'btn-secondary disabled'"
						>
							Previous
						</inertia-link>
						<inertia-link 
							:href="videos.links.next" 
							role="button" 
							class="btn"
							:class="videos.links.next != null ? 'btn-primary' : 'btn-secondary disabled'"
						>
							Next
						</inertia-link>	
					</div>	
				</div>
			</div>
		</div>
		
		<footer-page></footer-page>
	</div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FooterPage from '@/Shared/FooterPage.vue'
import moment from 'moment'

export default {
    components: {
      Layout, FooterPage
	},

	props: {
		category: Object,
		videos: Object,
		
	},

	data() {
		return {
			categoryVideo : this.category.data[0],
			dataVideos: this.videos.data,
			minItems:this.videos.meta.per_page,
			totalItems:this.videos.meta.total,
		}
	},
	methods: {
        moment,
    },
}

</script>



<style type="scoped">
	.disabled {
	  cursor: not-allowed;
	}
</style>